<template>
  <div>
    <span v-if="is_select === false">
      <Navbar></Navbar>
    </span>
    <span v-else>
      <Selectbar
        v-bind:is_select="is_select"
        v-bind:is_archived_filter="is_archived_filter"
        v-bind:is_deleted_filter="is_deleted_filter"
        v-on:close="close"
        v-on:archive="archive"
        v-on:unarchive="unarchive"
        v-on:trash="trash"
        v-on:restore="restore"
      ></Selectbar>
    </span>
    <b-row class="body">
      <Sidebar
        v-bind:show_item="show_item"
        v-on:menu="menu"
        v-bind:is_select="is_select"
        v-on:close="close"
        v-on:filterAll="filterAll"
        v-on:filterPlansOngoing="filterPlansOngoing"
        v-on:filterPlansCompleted="filterPlansCompleted"
        v-on:filterNotes="filterNotes"
        v-on:filterArchived="filterArchived"
        v-on:filterTrash="filterTrash"
      ></Sidebar>
      <b-col cols="11">
        <b-container v-bind:class="{ active: !show_item }">
          <b-row>
            <!-- Breadcrumbs -->
            <b-breadcrumb :items="items" class="breadcrumbs"></b-breadcrumb>

            <!-- Dropdown -->
            <b-dropdown
              id="dropdown-right"
              right text="Right align"
              variant="link"
              class="ml-auto"
              no-caret
            >
              <template #button-content >
                <b-icon icon="three-dots-vertical" class="settings-icon" font-scale="2"></b-icon>
                <span class="setting"></span>
              </template>
              <p>Add</p>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" v-b-modal.add-plan-modal>Plan</a>
                <b-modal size="sm" id="add-plan-modal" centered title="Add New Plan">
                  <label for="plan-title">Title:</label>
                  <b-form-input
                    id="plan-title"
                    v-model="plan_title"
                    type="text"
                    autocomplete="off"
                    class="form shadow-sm"
                  ></b-form-input>

                  <label for="plan-deadline">Deadline:</label>
                  <b-input-group class="mb-3" @keyup.enter="createNewPlan()">
                    <b-form-input
                      id="plan-deadline"
                      v-model="plan_deadline"
                      type="text"
                      placeholder="YYYY-MM-DD"
                      autocomplete="off"
                      class="form shadow-sm"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-form-datepicker
                        v-model="plan_deadline"
                        button-only
                        right
                        locale="en-US"
                        aria-controls="deadline"
                        class="calendar-button shadow-sm"
                        dropright text="Drop-Right"
                        :min="min_deadline"
                      ></b-form-datepicker>
                    </b-input-group-append>
                  </b-input-group>
                  <template #modal-footer>
                    <b-button
                      class="float-right"
                      @click="createNewPlan()"
                    >
                      Create
                    </b-button>
                  </template>
                </b-modal>

                <!-- Notes -->
                <a class="dropdown-item" v-b-modal.add-note-modal>Note</a>
                <b-modal size="sm" id="add-note-modal" centered title="Add New Note">
                  <label for="note-title">Title:</label>
                  <b-form-input
                    id="note-title"
                    v-model="note_title"
                    type="text"
                    autocomplete="off"
                    class="form shadow-sm"
                    @keyup.enter="createNewNote()"
                  ></b-form-input>
                  <template #modal-footer>
                    <b-button
                      class="float-right"
                      @click="createNewNote()"
                    >
                      Create
                    </b-button>
                  </template>
                </b-modal>
                <div class="dropdown-divider"></div>
                <b-dropdown-item @click="select()"><span>Select</span></b-dropdown-item>
            </b-dropdown>
          </b-row>

          <!-- Date -->
          <p class="date ">{{ date[0] }} {{ date[1] }}, {{ date[2] }}</p>

          <!--  Searchbar-->
          <div>
            <b-input-group>
              <b-form-input type="search" v-model="search_input" @input="search" placeholder="Search"></b-form-input>
              <template #append>
                <b-button v-on:click="search"><b-icon-search></b-icon-search></b-button>
              </template>
            </b-input-group>
          </div>
          <!-- End of Searchbar -->

          <!-- Cards -->
          <div class="cards">

            <!-- Plan Cards -->
            <div class="plan-cards" v-if="filter == 1">
              <p class="card-category ">Plan</p>
              <!-- Group the Cards -->
              <b-card-group deck>
                <!-- Card 1 -->
                  <a class="card-link"
                    v-for="plan in plans"
                    :key="plan.pk">
                    <b-row>
                      <b-form-checkbox
                        v-bind:class="{ active: !is_select }"
                        :id="plan.pk.toISOString"
                        v-model="plan.is_selected"
                        @change="selectPlan(plan)"
                      ></b-form-checkbox>
                      <b-card
                        no-body
                        header-tag="header"
                        align="center"
                        class="overflow-hidden shadow bg-white rounded"
                        @click="showPlan(plan.pk)"
                      >
                        <div
                          class="card-header"
                          :style="{backgroundColor: plan.color}"
                        >
                          <div class="mb-4"></div>
                        </div>
                        <b-row no-gutters>
                          <b-col>
                            <div class="icon-text">
                              <b-card-text class="text-dark">{{ plan.note.icon }}</b-card-text>
                            </div>
                          </b-col>
                          <b-col>
                            <b-card-body >
                              <p class="card-title text-left">{{ plan.note.title }}</p>
                              <b-card-text class="text-left text-secondary">{{ plan.deadline }}</b-card-text>
                            </b-card-body>
                            <span class="float-right">
                                <p class="status text-secondary">{{ plan.progress }}%</p>
                            </span>
                          </b-col>
                        </b-row>
                      </b-card>
                    </b-row>
                  </a>
              </b-card-group>
              <!-- Line Seperator -->
              <hr class="line">
            </div>

            <div class="plan-cards" v-if="filter == 2">
              <p class="card-category ">Ongoing Plan</p>
              <!-- Group the Cards -->
              <b-card-group deck>
                <!-- Card 1 -->
                <a class="card-link"
                  v-for="plan in ongoing_plans"
                  :key="plan.pk">
                  <b-row>
                    <b-form-checkbox
                      v-bind:class="{ active: !is_select }"
                      :id="plan.pk.toISOString"
                      v-model="plan.is_selected"
                      @change="selectPlan(plan)"
                    ></b-form-checkbox>
                    <b-card
                      no-body
                      header-tag="header"
                      align="center"
                      class="overflow-hidden shadow bg-white rounded"
                      @click="showPlan(plan.pk)"
                    >
                      <div
                        class="card-header"
                        :style="{backgroundColor: plan.color}"
                      >
                        <div class="mb-4"></div>
                      </div>
                      <b-row no-gutters>
                        <b-col>
                          <div class="icon-text">
                            <b-card-text class="text-dark">{{ plan.note.icon }}</b-card-text>
                          </div>
                        </b-col>
                        <b-col>
                          <b-card-body >
                            <p class="card-title text-left">{{ plan.note.title }}</p>
                            <b-card-text class="text-left text-secondary">{{ plan.deadline }}</b-card-text>
                          </b-card-body>
                          <span class="float-right">
                              <p class="status text-secondary">{{ plan.progress }}%</p>
                          </span>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-row>
                </a>
              </b-card-group>
            </div>

            <div class="plan-cards" v-if="filter == 3">
              <p class="card-category ">Completed Plan</p>
              <!-- Group the Cards -->
              <b-card-group deck>
                <!-- Card 1 -->
                <a class="card-link"
                  v-for="plan in completed_plans"
                  :key="plan.pk">
                  <b-row>
                    <b-form-checkbox
                      v-bind:class="{ active: !is_select }"
                      :id="plan.pk.toISOString"
                      v-model="plan.is_selected"
                      @change="selectPlan(plan)"
                    ></b-form-checkbox>
                    <b-card
                      no-body
                      header-tag="header"
                      align="center"
                      class="overflow-hidden shadow bg-white rounded"
                      @click="showPlan(plan.pk)"
                    >
                      <div
                        class="card-header"
                        :style="{backgroundColor: plan.color}"
                      >
                        <div class="mb-4"></div>
                      </div>
                      <b-row no-gutters>
                        <b-col>
                          <div class="icon-text">
                            <b-card-text class="text-dark">{{ plan.note.icon }}</b-card-text>
                          </div>
                        </b-col>
                        <b-col>
                          <b-card-body >
                            <p class="card-title text-left">{{ plan.note.title }}</p>
                            <b-card-text class="text-left text-secondary">{{ plan.deadline }}</b-card-text>
                          </b-card-body>
                          <span class="float-right">
                              <p class="status text-secondary">{{ plan.progress }}%</p>
                          </span>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-row>
                </a>
              </b-card-group>
            </div>
            <!-- End of Plan Cards -->

            <!-- Note Cards -->
            <div class="note-cards" v-if="filter ==1 || filter == 4">
              <p class="card-category">Notes</p>
              <b-card-group deck>
              <!-- All note cards -->
                <a class="card-link"
                  v-for="note in notes"
                  :key="note.pk">
                  <b-row>
                    <b-form-checkbox
                      v-bind:class="{ active: !is_select }"
                      :id="note.pk.toISOString"
                      v-model="note.is_selected"
                      @change="selectNote(note)"
                    ></b-form-checkbox>
                    <b-card
                      no-body
                      header-tag="header"
                      align="center"
                      class="overflow-hidden shadow bg-white rounded notes-card"
                      @click="showNote(note.pk)"
                    >
                      <template #header>
                        <div class="mb-4"></div>
                      </template>
                      <b-row no-gutters>
                        <b-col>
                          <div class="icon-text">
                            <b-card-text class="text-dark">{{ note.icon }}</b-card-text>
                          </div>
                        </b-col>
                        <b-col>
                          <b-card-body >
                            <p class="card-title text-left">{{ note.title }}</p>
                          </b-card-body>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-row>
                  </a>
              </b-card-group>
            </div>
            <!-- End of Note Cards -->

          <!-- Archived Cards -->
            <div class="archived-cards" v-if="filter == 5">
              <p class="card-category">Plans</p>
              <b-card-group deck>
                <!-- Card 1 -->
                <a class="card-link"
                  v-for="plan in archived_plans"
                  :key="plan.pk">
                  <b-row>
                    <b-form-checkbox
                      v-bind:class="{ active: !is_select }"
                      :id="plan.pk.toISOString"
                      v-model="plan.is_selected"
                      @change="selectPlan(plan)"
                    ></b-form-checkbox>
                    <b-card
                      no-body
                      header-tag="header"
                      header-bg-variant="secondary"
                      align="center"
                      class="overflow-hidden shadow bg-white rounded"
                      @click="showPlan(plan.pk)"
                    >
                      <template #header>
                        <div class="mb-4"></div>
                      </template>
                      <b-row no-gutters>
                        <b-col>
                          <div class="icon-text">
                            <b-card-text class="text-dark">{{ plan.note.icon }}</b-card-text>
                          </div>
                        </b-col>
                        <b-col>
                          <b-card-body >
                            <p class="card-title text-left">{{ plan.note.title }}</p>
                            <b-card-text class="text-left text-secondary">{{ plan.deadline }}</b-card-text>
                          </b-card-body>
                          <span class="float-right">
                              <p class="status text-secondary">{{ plan.progress }}%</p>
                          </span>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-row>
                </a>
              </b-card-group>

              <!-- Line Seperator -->
              <hr class="line">
              <p class="card-category">Notes</p>
              <b-card-group deck>
                <!-- Archived note cards -->
                 <a class="card-link"
                  v-for="note in archived_notes" :key="note.pk">
                  <b-row>
                    <b-form-checkbox
                      v-bind:class="{ active: !is_select }"
                      :id="note.pk.toISOString"
                      v-model="note.is_selected"
                      @change="selectNote(note)"
                    ></b-form-checkbox>
                    <b-card
                      no-body
                      header-tag="header"
                      align="center"
                      class="overflow-hidden shadow bg-white rounded notes-card"
                      @click="showNote(note.pk)"
                    >
                      <template #header>
                        <div class="mb-4"></div>
                      </template>
                      <b-row no-gutters>
                        <b-col>
                          <div class="icon-text">
                            <b-card-text class="text-dark">{{ note.icon }}</b-card-text>
                          </div>
                        </b-col>
                        <b-col>
                          <b-card-body >
                            <p class="card-title text-left">{{ note.title }}</p>
                          </b-card-body>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-row>
                </a>
              </b-card-group>
            </div>
            <!-- End of Archived Cards -->

            <!-- Deleted Cards -->
            <div class="deleted-cards" v-if="filter == 6">
              <p class="card-category">Plans</p>
              <b-card-group deck>
                <!-- Card 1 -->
                <a class="card-link"
                  v-for="plan in deleted_plans"
                  :key="plan.pk">
                  <b-row>
                    <b-form-checkbox
                      v-bind:class="{ active: !is_select }"
                      :id="plan.pk.toISOString"
                      v-model="plan.is_selected"
                      @change="selectPlan(plan)"
                    ></b-form-checkbox>
                    <b-card
                      no-body
                      header-tag="header"
                      header-bg-variant="secondary"
                      align="center"
                      class="overflow-hidden shadow bg-white rounded"
                      @click="showPlan(plan.pk)"
                    >
                      <template #header>
                        <div class="mb-4"></div>
                      </template>
                      <b-row no-gutters>
                        <b-col>
                          <div class="icon-text">
                            <b-card-text class="text-dark">{{ plan.note.icon }}</b-card-text>
                          </div>
                        </b-col>
                        <b-col>
                          <b-card-body >
                            <p class="card-title text-left">{{ plan.note.title }}</p>
                            <b-card-text class="text-left text-secondary">{{ plan.deadline }}</b-card-text>
                          </b-card-body>
                          <span class="float-right">
                              <p class="status text-secondary">{{ plan.progress }}%</p>
                          </span>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-row>
                </a>
              </b-card-group>
              <!-- Line Seperator -->
              <hr class="line">
              <p class="card-category">Notes</p>
              <b-card-group deck>
                <!-- Deleted Note Cards -->
                 <a class="card-link"
                  v-for="note in deleted_notes" :key="note.pk">
                  <b-row>
                    <b-form-checkbox
                      v-bind:class="{ active: !is_select }"
                      :id="note.pk.toISOString"
                      v-model="note.is_selected"
                      @change="selectNote(note)"
                    ></b-form-checkbox>
                    <b-card
                      no-body
                      header-tag="header"
                      align="center"
                      class="overflow-hidden shadow bg-white rounded notes-card"
                      @click="showNote(note.pk)"
                    >
                      <template #header>
                        <div class="mb-4"></div>
                      </template>
                      <b-row no-gutters>
                        <b-col>
                          <div class="icon-text">
                            <b-card-text class="text-dark">{{ note.icon }}</b-card-text>
                          </div>
                        </b-col>
                        <b-col>
                          <b-card-body >
                            <p class="card-title text-left">{{ note.title }}</p>
                          </b-card-body>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-row>
                </a>
              </b-card-group>
            </div>
            <!-- End of Deleted Cards -->
          </div>
          <!-- End of Cards -->
        </b-container>

      </b-col>
    </b-row>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import Selectbar from "../components/Selectbar.vue";
import sileo from 'sileo';

const Plan = new sileo.Model('plan', 'plans')
const Note = new sileo.Model('note', 'notes')
const User = new sileo.Model('user', 'users')

export default {
  components: {
    Navbar,
    Sidebar,
    Selectbar
  },
  data() {
    return {
      // Breadcrumbs
      items: [
        {
          text: "Calendar",
          to: {
            name: 'home'
          },
        },
        {
          text: "Board",
        },
      ],

      // Board Date
      date: [],
      date_array: [],

      // User
      user: null,

      // Search
      search_input: '',

      // Add Plan
      plan_title: '',
      formatted: '',
      selected: '',
      plan_deadline: '',
      min_deadline: '',
      // Add Note
      note_title: '',

      // Select Bar
      is_select: false,
      select_plan: [],
      select_note: [],
      is_archived_filter: false,
      is_deleted_filter: false,

      // Side Bar
      show_item: true,
      filter: 1,

      // Plans and Notes
      note_id: -1,
      plan_id: -1,
      plans: [],
      ongoing_plans: [],
      completed_plans: [],
      deleted_plans: [],
      archived_plans: [],
      new_plan: {},
      notes: [],
      new_note: {},
      deleted_notes: [],
      archived_notes: [],
      param_date: '',
      start_date: '',
      end_date: '',
    };
  },
  created() {
    this.getDate()
    this.getMinDeadline()
  },
  async mounted() {
    await this.getCurrentUser()
    this.fetchPlans('');
    this.fetchNotes('');
    this.fetchDeletedPlans('');
    this.fetchArchivedPlans('');
    this.fetchDeletedNotes('');
    this.fetchArchivedNotes('');
  },
  methods: {
    async getCurrentUser() {
      this.user = await User.objects.filter()
    },
    getDate() {
      const months = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
      this.param_date = this.$route.params.date;
      if(!Date.parse(this.param_date)){
        this.$router.push({name: 'home'}).catch(()=>{});
      }
      let dateArray = this.param_date.split("-");
      this.date_array = dateArray;
      this.start_date = `${dateArray[2]}` + "-" + `${dateArray[0]}` + "-" +dateArray[1]+ " 00:00:00";
      this.end_date = `${dateArray[2]}` + "-" + `${dateArray[0]}` + "-" +dateArray[1]+ " 23:59:00";
      this.date = [months[dateArray[0]-1], dateArray[1], dateArray[2]];
    },
    getMinDeadline() {
      const now = new Date()

      // Get specific date and current time
      let new_date = new Date(
        this.date_array[2],
        this.date_array[0]-1,
        this.date_array[1],
        now.getHours(),
        now.getMinutes(),
        now.getSeconds(),
        now.getMilliseconds(),
      )

      this.min_deadline = new_date;
    },
    search() {
      this.fetchPlans(this.search_input);
      this.fetchNotes(this.search_input);
      this.fetchDeletedPlans(this.search_input);
      this.fetchArchivedPlans(this.search_input);
      this.fetchDeletedNotes(this.search_input);
      this.fetchArchivedNotes(this.search_input);
    },
    fetchPlans(search_text) {
      Plan.objects.filter({
        'user_id': `${this.user.pk}`,
        'note__is_deleted': 'False',
        'note__is_archived': 'False',
        'note__title__icontains': search_text,
        'note__date_created__lte': `${this.end_date}`,
        'note__date_created__gte': `${this.start_date}`,
      }).then(data => {
        let new_plans = []
        for (let plan of data) {
          let new_plan = {
            pk: plan.pk,
            deadline: plan.deadline1,
            note: plan.note,
            progress: plan.progress,
            status: plan.status,
            tasks: plan.tasks,
            time_to_finish: plan.time_to_finish,
            is_selected: false,
            color: null
          }
          new_plans.push(new_plan);
        }
        this.plans = new_plans

        for(const plan of this.plans) {
          if(plan.progress <= 30) {
            plan.color = '#FF5F5F'
          }else if(plan.progress > 30 && plan.progress <= 50) {
            plan.color = '#FFA1A1'
          }else if(plan.progress > 50 && plan.progress < 100) {
            plan.color = '#FEC9C9'
          }else{
            plan.color = '#46D27E'
          }
        }

        this.ongoing_plans = []
        this.completed_plans = []
        for(const plan of this.plans) {
          if (plan.status == 'ongoing') {
            this.ongoing_plans.push(plan);
          } else {
            this.completed_plans.push(plan);
          }
        }
      }).catch(e => {
        console.error(e);
      });
    },
    fetchDeletedPlans(search_text) {
      Plan.objects.filter({
        'user_id': `${this.user.pk}`,
        'note__is_deleted': 'True',
        'note__title__icontains': search_text,
        'note__date_created__lte': `${this.end_date}`,
        'note__date_created__gte': `${this.start_date}`,
      }).then(data => {
        let new_plans = []
        for (let plan of data) {
          let new_plan = {
            pk: plan.pk,
            deadline: plan.deadline1,
            note: plan.note,
            progress: plan.progress,
            status: plan.status,
            tasks: plan.tasks,
            time_to_finish: plan.time_to_finish,
            is_selected: false
          }
          new_plans.push(new_plan);
        }
        this.deleted_plans = new_plans
      }).catch(e => {
        console.error(e);
      });
    },
    fetchArchivedPlans(search_text) {
      Plan.objects.filter({
        'user_id': `${this.user.pk}`,
        'note__is_deleted': 'False',
        'note__is_archived': 'True',
        'note__title__icontains': search_text,
        'note__date_created__lte': `${this.end_date}`,
        'note__date_created__gte': `${this.start_date}`,
      }).then(data => {
        console.log("Archived Plans:", data);
        let new_plans = []
        for (let plan of data) {
          let new_plan = {
            pk: plan.pk,
            deadline: plan.deadline1,
            note: plan.note,
            progress: plan.progress,
            status: plan.status,
            tasks: plan.tasks,
            time_to_finish: plan.time_to_finish,
            is_selected: false
          }
          new_plans.push(new_plan);
        }
        this.archived_plans = new_plans
      }).catch(e => {
        console.error(e);
      });
    },
    fetchNotes(search_text) {
      Note.objects.filter({
        'user_id': `${this.user.pk}`,
        'is_note': 'True',
        'is_deleted': 'False',
        'is_archived': 'False',
        'title__icontains': search_text,
        'date_created__lte': `${this.end_date}`,
        'date_created__gte': `${this.start_date}`,
      }).then(data => {
        console.log("Notes:", data);
        let new_notes = []
        for (let note of data) {
          let new_note = {
            pk: note.pk,
            content: note.content,
            date_created: note.date_created,
            icon: note.icon,
            header: note.header,
            is_archived: note.is_archived,
            is_deleted: note.is_deleted,
            is_note: note.is_note,
            title: note.title,
            user: note.user,
            is_selected: false
          }
          new_notes.push(new_note);
        }
        this.notes = new_notes
      }).catch(e => {
        console.error(e);
      });
    },
    fetchDeletedNotes(search_text) {
      Note.objects.filter({
        'user_id': `${this.user.pk}`,
        'is_note': 'True',
        'is_deleted': 'True',
        'title__icontains': search_text,
        'date_created__lte': `${this.end_date}`,
        'date_created__gte': `${this.start_date}`,
      }).then(data => {
        let new_notes = []
        for (let note of data) {
          let new_note = {
            pk: note.pk,
            content: note.content,
            date_created: note.date_created,
            icon: note.icon,
            header: note.header,
            is_archived: note.is_archived,
            is_deleted: note.is_deleted,
            is_note: note.is_note,
            title: note.title,
            user: note.user,
            is_selected: false
          }
          new_notes.push(new_note);
        }
        this.deleted_notes = new_notes
      }).catch(e => {
        console.error(e);
      });
    },
    fetchArchivedNotes(search_text) {
      Note.objects.filter({
        'user_id': `${this.user.pk}`,
        'is_note': 'True',
        'is_deleted': 'False',
        'is_archived': 'True',
        'title__icontains': search_text,
        'date_created__lte': `${this.end_date}`,
        'date_created__gte': `${this.start_date}`,
      }).then(data => {
        let new_notes = []
        for (let note of data) {
          let new_note = {
            pk: note.pk,
            content: note.content,
            date_created: note.date_created,
            icon: note.icon,
            header: note.header,
            is_archived: note.is_archived,
            is_deleted: note.is_deleted,
            is_note: note.is_note,
            title: note.title,
            user: note.user,
            is_selected: false
          }
          new_notes.push(new_note);
        }
        this.archived_notes = new_notes
      }).catch(e => {
        console.error(e);
      });
    },
    showNote(id) {
      this.note_id = id;
      this.$router.push({name: 'note', params: { date: this.param_date, id: this.note_id }}).catch(()=>{});
    },
    showPlan(id) {
      this.plan_id = id;
      this.$router.push({name: 'plan', params: { date: this.param_date, id: this.plan_id}}).catch(()=>{});
    },
    // Create
    createNewPlan() {
      // Get date today
      const now = new Date()

      // Get specific date and current time
      let date_created = new Date(
        this.date_array[2],
        this.date_array[0]-1,
        this.date_array[1],
        now.getHours(),
        now.getMinutes(),
        now.getSeconds(),
        now.getMilliseconds(),
      )

      // Get deadline based on inputted date and current time
      let deadline_array = this.plan_deadline.split("-");
      let deadline = new Date(
        deadline_array[0],
        parseInt(deadline_array[1])-1,
        deadline_array[2],
        now.getHours(),
        now.getMinutes(),
        now.getSeconds(),
        now.getMilliseconds(),
      )

      // Get random emoji
      var icon = this.getRandomEmoji();

      // Note form for creating new note
      const form = new FormData();
      form.append('user', this.user.pk)
      form.append('title', this.plan_title)
      form.append('icon', icon)
      form.append('date_created', date_created.toISOString())
      form.append('is_note', false)

      // Create new plan
      Note.objects.create(form).then(data => {
        const plan_form = new FormData()
        plan_form.append('user', this.user.pk)
        plan_form.append('note', data.pk)
        plan_form.append('deadline', deadline.toISOString())

        Plan.objects.create(plan_form).then(data => {
          this.new_plan = data
          this.plans.push(this.new_plan)
          this.$router.push({name: 'plan', params: { date: this.param_date, id: this.new_plan.pk }}).catch(()=>{});
        }).catch(error => {
          console.log(error)
        });
      }).catch(error => {
        console.log(error)
      })
    },
    createNewNote() {
      // get specific date and current timestamp
      const now = new Date()
      let date_created = new Date(
        this.date_array[2],
        this.date_array[0]-1,
        this.date_array[1],
        now.getHours(),
        now.getMinutes(),
        now.getSeconds(),
        now.getMilliseconds(),
      )
      date_created = date_created.toISOString();

      // Get random emoji
      var icon = this.getRandomEmoji();

      // Note form for creating new note
      const form = new FormData();
      form.append('user', this.user.pk)
      form.append('title', this.note_title)
      form.append('icon', icon)
      form.append('date_created', date_created)
      form.append('is_note', true)

      // Create new note
      Note.objects.create(form).then(data => {
        this.new_note = data
        this.notes.push(this.new_note)
        this.$router.push({name: 'note', params: { date: this.param_date, id: this.new_note.pk }});
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('add-note-modal')
      })
    },
    getRandomEmoji() {
      var emojis = [
        '🎩','👑','👒','👟','👞','👡','👠','👢','👕','👔','👚','👗','🎽',
        '👖','👘','👙','💼','👜','👝','👛','👓','🎀','🌂','💄','💛','💙',
        '💜','💚','💔','💗','💓','💕','💖','💞','💘','💌','💋','💍',
        '💎','👤','👥','💬','👣','💭','🐶','🐺','🐱','🐭','🐹','🐰','🐸',
        '🐯','🐨','🐻','🐷','🐽','🐮','🐗','🐵','🐒','🐴','🐑','🐘','🐼',
        '🐧','🐦','🐤','🐥','🐣','🐔','🐍','🐢','🐛','🐝','🐜','🐞','🐌',
        '🐙','🐚','🐠','🐟','🐬','🐳','🐋','🐄','🐏','🐀','🐃','🐅','🐇',
        '🐉','🐎','🐐','🐓','🐕','🐖','🐁','🐂','🐲','🐡','🐊','🐫','🐪',
        '🐆','🐈','🐩','🐾','💐','🌸','🌷','🍀','🌹','🌻','🌺','🍁','🍃',
        '🍂','🌿','🌾','🍄','🌵','🌴','🌲','🌳','🌰','🌱','🌼','🌐','🌞',
        '🌝','🌚','🌑','🌒','🌓','🌔','🌕','🌖','🌗','🌘','🌜','🌛','🌙',
        '🌍','🌎','🌏','🌋','🌌','🌠','⭐','⛅','⚡','☔','⛄',
        '🌀','🌁','🌈','🌊','🎍','💝','🎎','🎒','🎓','🎏','🎆','🎇','🎐',
        '🎑','🎃','👻','🎅','🎄','🎁','🎋','🎉','🎊','🎈','🎌','🔮','🎥',
        '📷','📹','📼','💿','📀','💽','💾','💻','📱','📞','📟','📠',
        '📡','📺','📻','🔊','🔉','🔈','🔇','🔔','🔕','📢','📣','⏳','⌛',
        '⏰','⌚','🔓','🔒','🔏','🔐','🔑','🔎','💡','🔦','🔆','🔅','🔌',
        '🔋','🔍','🛁','🛀','🚿','🚽','🔧','🔩','🔨','🚪','🚬','💣','🔫',
        '🔪','💊','💉','💰','💴','💵','💷','💶','💳','💸','📲','📧','📥',
        '📤','📩','📨','📯','📫','📪','📬','📭','📮','📦','📝','📄',
        '📃','📑','📊','📈','📉','📜','📋','📅','📆','📇','📁','📂',
        '📌','📎','📏','📐','📕','📗','📘','📙','📓','📔','📒','📚',
        '📖','🔖','📛','🔬','🔭','📰','🎨','🎬','🎤','🎧','🎼','🎵','🎶',
        '🎹','🎻','🎺','🎷','🎸','👾','🎮','🃏','🎴','🀄','🎲','🎯','🏈',
        '🏀','⚽','⚾','🎾','🎱','🏉','🎳','⛳','🚵','🚴','🏁','🏇','🏆',
        '🎿','🏂','🏊','🏄','🎣','☕','🍵','🍶','🍼','🍺','🍻','🍸','🍹',
        '🍷','🍴','🍕','🍔','🍟','🍗','🍖','🍝','🍛','🍤','🍱','🍣','🍥',
        '🍙','🍘','🍚','🍜','🍲','🍢','🍡','🍳','🍞','🍩','🍮','🍦','🍨',
        '🍧','🎂','🍰','🍪','🍫','🍬','🍭','🍯','🍎','🍏','🍊','🍋','🍒',
        '🍇','🍉','🍓','🍑','🍈','🍌','🍐','🍍','🍠','🍆','🍅','🌽','🏠',
        '🏡','🏫','🏢','🏣','🏥','🏦','🏪','🏩','🏨','💒','⛪','🏬','🏤',
        '🌇','🌆','🏯','🏰','⛺','🏭','🗼','🗾','🗻','🌄','🌅','🌃','🗽',
        '🌉','🎠','🎡','⛲','🎢','🚢','⛵','🚤','🚣','⚓','🚀','💺',
        '🚁','🚂','🚊','🚉','🚞','🚆','🚄','🚅','🚈','🚇','🚝','🚋','🚃',
        '🚎','🚌','🚍','🚙','🚘','🚗','🚕','🚖','🚛','🚚','🚨','🚓','🚔',
        '🚒','🚑','🚐','🚲','🚡','🚟','🚠','🚜','💈','🚏','🎫','🚦','🚥',
        '🚧','🔰','⛽','🏮','🎰','🗿','🎪','🎭','📍','🚩','🔠','🔡','🔤',
        '🔄','🔼','🔽','⏪','⏩','⏫','⏬','🆗','🔀','🔁','🔂','🆕',
        '🆙','🆒','🆓','🆖','📶','🎦','🈁','🈯','🈳','🈵','🈴','🈲','🉐',
        '🈹','🈺','🈶','🈚','🚻','🚹','🚺','🚼','🚾','🚰','🚮','🅿','♿',
        '🚭','🈸','🛂','🛄','🛅','🛃','🉑','🆑','🆘','🆔','🚫','🔞','📵',
        '🚯','🚱','🚳','🚷','🚸','⛔','❎','✅','💟','🆚','📳','📴','🅰',
        '🅱','🆎','🅾','💠','➿','♈','♉','♊','♋','♌','♍','♎','♏',
        '♐','♑','♒','♓','⛎','🔯','🏧','💹','💲','💱','🔝','🔚','🔙',
        '🔛','🔜','❌','⭕','❗','❓','❕','❔','🔃','🕛','🕧','🕐','🕜','🕑',
        '🕝','🕒','🕞','🕓','🕟','🕔','🕠','🕕','🕖','🕗','🕘','🕙','🕚',
        '🕡','🕢','🕣','🕤','🕥','🕦','➕','➖','➗','💮','💯','🔘','🔗',
        '➰','🔱','🔲','🔳','◾','◽','🔺','⬜','⬛','⚫','⚪','🔴','🔵',
        '🔻','🔶','🔷','🔸','🔹'
      ];
      return emojis[Math.floor(Math.random() * emojis.length)];
    },
    // Sidebar
    menu() {
      this.show_item == true ? this.show_item = false : this.show_item = true
    },
    filterAll() {
      this.filter = 1;
      this.is_archived_filter = false;
      this.is_deleted_filter = false;
    },
    filterPlansOngoing() {
      this.filter = 2;
      this.is_archived_filter = false;
      this.is_deleted_filter = false;
    },
    filterPlansCompleted() {
      this.filter = 3;
      this.is_archived_filter = false;
      this.is_deleted_filter = false;
    },
    filterNotes() {
      this.filter = 4;
      this.is_archived_filter = false;
      this.is_deleted_filter = false;
    },
    filterArchived() {
      this.filter = 5;
      this.is_archived_filter = true;
      this.is_deleted_filter = false;
    },
    filterTrash() {
      this.filter = 6;
      this.is_archived_filter = true;
      this.is_deleted_filter = true;
    },
    // Selectbar
    select() {
      this.is_select = true;
    },
    close() {
      // Reset data.is_selected
      for(let plan in this.plans) {
        this.plans[plan].is_selected = false
      }
      for(let note in this.notes) {
        this.notes[note].is_selected = false
      }
      for(let plan in this.deleted_plans) {
        this.deleted_plans[plan].is_selected = false
      }
      for(let note in this.deleted_notes) {
        this.deleted_notes[note].is_selected = false
      }
      for(let plan in this.archived_plans) {
        this.archived_plans[plan].is_selected = false
      }
      for(let note in this.archived_notes) {
        this.archived_notes[note].is_selected = false
      }
      // Reset selected arrays
      this.select_note = [],
      this.select_plan = [],
      this.is_select = false;
    },
    // Change date_created to proper date format
    getDateCreated(date_created) {
      let date = date_created.substring(0, 10)
      let time = date_created.substring(12, 20)
      date = date.split("/");
      time = time.split(":");
      return new Date(
        date[2], date[0]-1, date[1], parseInt(time[0])+8, time[1], time[2]
      );
    },
    async archive() {
      for(let selected_plan in this.select_plan) {
        for(let plan in this.plans) {
          if(this.select_plan[selected_plan] == this.plans[plan].pk) {
            const date = this.getDateCreated(this.plans[plan].note.date_created)
            // Form for archiving plan
            const form = new FormData();
            form.append('user', this.plans[plan].note.user.pk)
            form.append('title', this.plans[plan].note.title)
            form.append('icon', this.plans[plan].note.icon)
            form.append('content', this.plans[plan].note.content)
            form.append('date_created', date.toISOString())
            form.append('header', this.plans[plan].note.header)
            form.append('is_note', this.plans[plan].note.is_note)
            form.append('is_archived', true)

            // Update plan as archived
            await Note.objects.update({'pk': this.plans[plan].note.pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }
      for(let selected_note in this.select_note) {
        for(let note in this.notes) {
          if(this.select_note[selected_note] == this.notes[note].pk) {
            const date = this.getDateCreated(this.notes[note].date_created)
            // Form for archiving note
            const form = new FormData();
            form.append('user', this.notes[note].user.pk)
            form.append('title', this.notes[note].title)
            form.append('icon', this.notes[note].icon)
            form.append('content', this.notes[note].content)
            form.append('date_created', date.toISOString())
            form.append('header', this.notes[note].header)
            form.append('is_note', this.notes[note].is_note)
            form.append('is_archived', true)

            // Update note as archived
            await Note.objects.update({'pk': this.notes[note].pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }
      this.close()
      this.fetchPlans('');
      this.fetchNotes('');
      this.fetchDeletedPlans('');
      this.fetchArchivedPlans('');
      this.fetchDeletedNotes('');
      this.fetchArchivedNotes('');
    },
    async unarchive() {
      for(let selected_plan in this.select_plan) {
        for(let plan in this.archived_plans) {
          if(this.select_plan[selected_plan] == this.archived_plans[plan].pk) {
            const date = this.getDateCreated(this.archived_plans[plan].note.date_created)
            // Form for unarchiving plan
            const form = new FormData();
            form.append('user', this.archived_plans[plan].note.user.pk)
            form.append('title', this.archived_plans[plan].note.title)
            form.append('icon', this.archived_plans[plan].note.icon)
            form.append('content', this.archived_plans[plan].note.content)
            form.append('date_created', date.toISOString())
            form.append('header', this.archived_plans[plan].note.header)
            form.append('is_note', this.archived_plans[plan].note.is_note)
            form.append('is_archived', false)

            // Update plan as unarchived
            await Note.objects.update({'pk': this.archived_plans[plan].note.pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }
      for(let selected_note in this.select_note) {
        for(let note in this.archived_notes) {
          if(this.select_note[selected_note] == this.archived_notes[note].pk) {
            const date = this.getDateCreated(this.archived_notes[note].date_created)
            // Form for archiving note
            const form = new FormData();
            form.append('user', this.archived_notes[note].user.pk)
            form.append('title', this.archived_notes[note].title)
            form.append('icon', this.archived_notes[note].icon)
            form.append('content', this.archived_notes[note].content)
            form.append('date_created', date.toISOString())
            form.append('header', this.archived_notes[note].header)
            form.append('is_note', this.archived_notes[note].is_note)
            form.append('is_archived', false)

            // Update note as archived
            await Note.objects.update({'pk': this.archived_notes[note].pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }
      this.close()
      this.fetchPlans('');
      this.fetchNotes('');
      this.fetchDeletedPlans('');
      this.fetchArchivedPlans('');
      this.fetchDeletedNotes('');
      this.fetchArchivedNotes('');
    },
    async trash() {
      // Plan
      for(let selected_plan in this.select_plan) {
        for(let plan in this.plans) {
          if(this.select_plan[selected_plan] == this.plans[plan].pk) {
            const date = this.getDateCreated(this.plans[plan].note.date_created)
            // Form for deleting plan
            const form = new FormData();
            form.append('user', this.plans[plan].note.user.pk)
            form.append('title', this.plans[plan].note.title)
            form.append('icon', this.plans[plan].note.icon)
            form.append('content', this.plans[plan].note.content)
            form.append('date_created', date.toISOString())
            form.append('header', this.plans[plan].note.header)
            form.append('is_note', this.plans[plan].note.is_note)
            form.append('is_archived', this.plans[plan].note.is_archived)
            form.append('is_deleted', true)

            // Update plan as deleted
            await Note.objects.update({'pk': this.plans[plan].note.pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }

        for(let plan in this.archived_plans) {
          if(this.select_plan[selected_plan] == this.archived_plans[plan].pk) {
            const date = this.getDateCreated(this.archived_plans[plan].note.date_created)
            // Form for deleting plan
            const form = new FormData();
            form.append('user', this.archived_plans[plan].note.user.pk)
            form.append('title', this.archived_plans[plan].note.title)
            form.append('icon', this.archived_plans[plan].note.icon)
            form.append('content', this.archived_plans[plan].note.content)
            form.append('date_created', date.toISOString())
            form.append('header', this.archived_plans[plan].note.header)
            form.append('is_note', this.archived_plans[plan].note.is_note)
            form.append('is_archived', this.archived_plans[plan].note.is_archived)
            form.append('is_deleted', true)

            // Update plan as deleted
            await Note.objects.update({'pk': this.archived_plans[plan].note.pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }

      // Note
      for(let selected_note in this.select_note) {
        for(let note in this.notes) {
          if(this.select_note[selected_note] == this.notes[note].pk) {
            const date = this.getDateCreated(this.notes[note].date_created)
            // Form for deleting note
            const form = new FormData();
            form.append('user', this.notes[note].user.pk)
            form.append('title', this.notes[note].title)
            form.append('icon', this.notes[note].icon)
            form.append('content', this.notes[note].content)
            form.append('date_created', date.toISOString())
            form.append('header', this.notes[note].header)
            form.append('is_note', this.notes[note].is_note)
            form.append('is_archived', this.notes[note].is_archived)
            form.append('is_deleted', true)

            // Update note as delete
            await Note.objects.update({'pk': this.notes[note].pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }

        for(let note in this.archived_notes) {
          if(this.select_note[selected_note] == this.archived_notes[note].pk) {
            const date = this.getDateCreated(this.archived_notes[note].date_created)
            // Form for deleting note
            const form = new FormData();
            form.append('user', this.archived_notes[note].user.pk)
            form.append('title', this.archived_notes[note].title)
            form.append('icon', this.archived_notes[note].icon)
            form.append('content', this.archived_notes[note].content)
            form.append('date_created', date.toISOString())
            form.append('header', this.archived_notes[note].header)
            form.append('is_note', this.archived_notes[note].is_note)
            form.append('is_archived', this.archived_notes[note].is_archived)
            form.append('is_deleted', true)

            // Update note as delete
            await Note.objects.update({'pk': this.archived_notes[note].pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }
      this.close()
      this.fetchPlans('');
      this.fetchNotes('');
      this.fetchDeletedPlans('');
      this.fetchArchivedPlans('');
      this.fetchDeletedNotes('');
      this.fetchArchivedNotes('');
    },
    async restore() {
      for(let selected_plan in this.select_plan) {
        for(let plan in this.deleted_plans) {
          if(this.select_plan[selected_plan] == this.deleted_plans[plan].pk) {
            const date = this.getDateCreated(this.deleted_plans[plan].note.date_created)
            // Form for deleting plan
            const form = new FormData();
            form.append('user', this.deleted_plans[plan].note.user.pk)
            form.append('title', this.deleted_plans[plan].note.title)
            form.append('icon', this.deleted_plans[plan].note.icon)
            form.append('content', this.deleted_plans[plan].note.content)
            form.append('date_created', date.toISOString())
            form.append('header', this.deleted_plans[plan].note.header)
            form.append('is_note', this.deleted_plans[plan].note.is_note)
            form.append('is_archived', this.deleted_plans[plan].note.is_archived)
            form.append('is_deleted', false)

            // Update plan as deleted
            await Note.objects.update({'pk': this.deleted_plans[plan].note.pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }
      for(let selected_note in this.select_note) {
        for(let note in this.deleted_notes) {
          if(this.select_note[selected_note] == this.deleted_notes[note].pk) {
            const date = this.getDateCreated(this.deleted_notes[note].date_created)
            // Form for deleting note
            const form = new FormData();
            form.append('user', this.deleted_notes[note].user.pk)
            form.append('title', this.deleted_notes[note].title)
            form.append('icon', this.deleted_notes[note].icon)
            form.append('content', this.deleted_notes[note].content)
            form.append('date_created', date.toISOString())
            form.append('header', this.deleted_notes[note].header)
            form.append('is_note', this.deleted_notes[note].is_note)
            form.append('is_archived', this.deleted_notes[note].is_archived)
            form.append('is_deleted', false)

            // Update note as delete
            await Note.objects.update({'pk': this.deleted_notes[note].pk}, form).then(data => {
            }).catch(error => {
              console.log(error)
            })
          }
        }
      }
      this.close()
      this.fetchPlans('');
      this.fetchNotes('');
      this.fetchDeletedPlans('');
      this.fetchArchivedPlans('');
      this.fetchDeletedNotes('');
      this.fetchArchivedNotes('');
    },
    selectPlan(plan) {
      if(plan.is_selected == true) {
        this.select_plan.push(plan.pk)
      }else{
        let index = this.select_plan.indexOf(plan.pk);
        if (index > -1) {
          this.select_plan.splice(index, 1);
        }
      }
    },
    selectNote(note) {
      if(note.is_selected == true) {
        this.select_note.push(note.pk)
      }else{
        let index = this.select_note.indexOf(note.pk);
        if (index > -1) {
          this.select_note.splice(index, 1);
        }
      }
    },
  }
};
</script>

<style scoped>
.body {
  padding-top: 50px;
  margin-left: 50px;
}
h1,h2,h3,h3,h4,input,label,p,a,span {
  font-family: "Poppins","sans-serif";
}
.col-11{
  margin: auto;
  padding: 0 0 30px 0;
}
.row {
  margin-right: 0px;
}
.container {
  padding: 10px 10px 10px 130px;
  transition: all 0.5s ease;
}
.container.active {
  padding: 10px;
}
div div.row.body div.col-11 div div.row {
  margin-top: 5px;
}

/* Breadcrumb */
.breadcrumbs {
  background: white;
  color: #46337f;
  margin: 2px 10px 10px 0px;
}
.breadcrumb-item.active {
  font-weight: normal;
  color: #46337f;
  padding-left: 5px;
}
.breadcrumb a {
  color: #46337f;
  text-decoration: none;
  background-color: transparent;
}
.breadcrumb a:hover {
  text-decoration: underline;
  background-color: transparent;
}
.breadcrumb-item {
  width: 75px
}
li.breadcrumb-item.active::before{
  content: ">";
  font-size: 20px;
  padding-right: 5px;
  margin-top: -5px;
}
.date {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  color: #46337f;
}

/*** Dropdown ***/
#dropdown-right {
  margin-right: -50px;
}
.settings-icon {
  color: #46337f;
}
::v-deep #dropdown-right__BV_toggle_,
::v-deep #dropdown-right__BV_toggle_ ul {
  padding-top: 6px;
}
::v-deep #dropdown-right__BV_toggle_:focus {
  box-shadow: none;
}
::v-deep .dropdown-menu {
  padding: 0px;
  border: 1px solid #312457;
  margin-right: 20px;
}
::v-deep .dropdown-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
::v-deep .dropdown-item:hover {
  background-color: #B2A8E8;
  border-radius: 3px;
}
::v-deep .dropdown-menu a:active,
::v-deep .dropdown-menu li:active,
::v-deep .dropdown-menu li:active a {
  background-color: #312457;
  color: white;
}

/* Dropdown Content */
#dropdown-right ul p {
  font-weight:700;
  margin: 5px 24px 5px 23px
}
#dropdown-right ul div:nth-child(2),
#dropdown-right ul div:nth-child(5) {
  margin: 0px;
}

/* Add Plan and Add Note Modals */
#add-plan-modal___BV_modal_content_ button,
#add-note-modal___BV_modal_content_ button {
  background-color: #312457;
  border-color: none;
}
#add-plan-modal___BV_modal_body_ label:nth-child(3) {
  margin-top: 20px;
}
#plan-title, #plan-deadline, #note-title {
  border: 1px solid #5F5199;
  color: black;
}
::v-deep .input-group-append .dropdown-toggle-no-caret,
::v-deep .input-group-append .show .dropdown-toggle-no-caret {
  background-color: #312457;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Search Bar */
::v-deep .row.body > div.col-11 > div > div:nth-child(3) .input-group{
  margin: auto;
}
::v-deep .row.body > div.col-11 > div > div:nth-child(3) .input-group .form-control:focus {
  box-shadow: none;
  z-index: 0;
}
input {
  position: relative;
  display: block;
  margin: 0 auto;
}
::v-deep .input-group{
  border: 2px solid #46337f;
  border-radius: 1rem;
  width: 55%;
  color: #46337f;
}
.form-control {
  border-radius: 1rem;
  border-width: 0px;
  color: #46337f;
}
::v-deep .row.body .col-11 .container div .input-group .input-group-append .btn{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: transparent;
  border-width: 0px;
}
::v-deep .row.body .col-11 .container div .input-group .input-group-append .btn:focus {
  box-shadow: none;
}
::v-deep .row.body .col-11 .container div .input-group .input-group-append svg g {
  color: #46337f;
}

/*** Plans/Notes ***/

/* Checkboxes */
div.cards div.card-deck a.card-link div.custom-checkbox {
  margin: 0px;
  z-index: 0;
  padding-left: 30px;
}
::v-deep div.custom-control.custom-checkbox.active .custom-control-label::before {
  display: none;
}

/* Cards */
.card-category{
  margin: 0 auto;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #46337f;
}

div.cards div.card-deck a.card-link div.card {
  margin-left: 0px;
  cursor: pointer;
}
.card-link{
  color: white;
  text-decoration: none;
  background-color: none;
  width: 340px;
  padding: 10px 0 10px 0;
  margin-left: 0rem;
}
.card-link + .card-link {
  margin-left: 0;
}
.cards {
  padding-top: 40px;
  margin: 0 auto;
}
.card-header {
  font-family: "Poppins";
  padding: 0;
}
.card-title{
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
}
.card-body{
  padding-left: 0rem !important;
  padding-bottom: 0px;
}
.p-3 {
  margin: 10px 0px 0px 0px;
  border-radius: 20px !important;
}

/* Cards Status */
.status {
  padding: 30px 10px 0px 0px;
}
.icon-text {
  margin: 20px;
  padding-top: 20px;
  line-height: 60px;
  font-size: 70px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #E6E6E6;
  border-radius: 10px;
}

/* Calendar Picker */
::v-deep .input-group-append .b-form-datepicker div.show {
  border: 1px solid #46337F;
}
::v-deep .b-calendar .b-calendar-header .form-control bdi,
::v-deep .b-calendar .b-calendar-grid{
  color: black
}
::v-deep .b-calendar .b-calendar-grid .row .col span.active{
  background-color: #46337F;
  color: white;
}
::v-deep .b-calendar button,
::v-deep .b-calendar .b-calendar-grid .row .col span{
  color: #46337F;
}
::v-deep .b-calendar button:hover {
  background-color: #B2A8E8;
}
</style>
