<template>
  <div>
    <Navbar></Navbar>
    <b-container>
      <b-alert v-if="show_alert" variant="info" dismissible fade show>
        <b-icon-clock></b-icon-clock> You have {{ out_of_date_plans.length }} out of date plan/s. 
        <b-link class="text-info" v-b-modal.out-of-date-modal>Show</b-link>
      </b-alert>
      <b-modal id="out-of-date-modal" centered title="Out of Date Plans">
        <b-table striped hover :items="out_of_date_plans" :fields="fields"></b-table>
        <template #modal-footer>
          <b-button
            class="float-right"
            @click="closeModal()"
          >
            Close
          </b-button>
        </template>
      </b-modal>

      <!-- Calendar Module -->
      <vue-calendar
        :events="events"

        @day-clicked="dayClicked"
        class="shadow"
      ></vue-calendar>
      <!-- End of Calendar Module -->

    </b-container>
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
import sileo from 'sileo'

const User = new sileo.Model('user', 'users')
const Calendar = new sileo.Model('calendar', 'calendars')
const OutPlan = new sileo.Model('outplan', 'outplans')

export default {
  name: 'Calendar',
  data() {
    return {
      user: null,
      events: [],
      fields: ['title', 'date_created', 'deadline'],
      out_of_date_plans: [],
      show_alert: false,
    }
  },
  components: {
    Navbar,
  },
  async created() {
    await this.getCurrentUser()
    this.$calendar.eventBus.$on('show-all', events => this.showAll(events));
    this.$calendar.eventBus.$on('day-clicked', day =>  this.dayClicked(day));
    this.$calendar.eventBus.$on('event-clicked', event => this.eventClicked(event));
    this.$calendar.eventBus.$on('month-changed', (start, end) => this.monthChanged(start, end));
    let date = new Date()
    this.getAllPlans(date.getFullYear(), date.getMonth()+1)
    this.fetchOutPlans(date)
  },
  methods: {
    dayClicked(day) {
      let date = ((day.date).getMonth()+1) + "-" + (day.date).getDate() + "-" + (day.date).getFullYear()
      this.$router.push({name: 'board', params: {date: date}}).catch(()=>{});
    },
    monthChanged(start, end) {
      let year = start.getFullYear();
      let month = start.getMonth()+1
      this.getAllPlans(year, month)
    },
    async getCurrentUser() {
      await User.objects.filter().then(data => {
        this.user = data
      })
    },
    getAllPlans(year, month) {
      Calendar.objects.filter({
        'user_id': `${this.user.pk}`,
        'note__is_deleted': 'False',
        'note__is_archived': 'False',
        'note__date_created__month__gte': month,
        'note__date_created__month__lte': month,
        'note__date_created__year__gte': year,
        'note__date_created__year__lte': year,
      }).then(data => {
        let new_events = []
        for (let plan of data) {
          let new_event = {
            start: new Date(plan.date_created),
            end: new Date(plan.date_created),
            title: plan.title,
            progress: plan.progress,
            classes: []
          }
          new_events.push(new_event)
        }
        this.events = new_events

        for(const event of this.events) {
          if(event.progress <= 30) {
            event.classes.push('events-color-1')
          }else if(event.progress > 30 && event.progress <= 50) {
            event.classes.push('events-color-2')
          }else if(event.progress > 50 && event.progress < 100) {
            event.classes.push('events-color-3')
          }else{
            event.classes.push('events-color-4')
          }
        }
      }).catch(error => {
        console.log(error)
      })
    },
    fetchOutPlans(date) {
      console.log(date)
      let end_date = `${date.getFullYear()}`+"-"+`${date.getMonth()+1}`+"-"+`${date.getDate()}`+" 00:00:00"
      console.log(end_date)
      OutPlan.objects.filter({
        'user_id': `${this.user.pk}`,
        'note__is_deleted': 'False',
        'note__is_archived': 'False',
        'deadline__lte': `${end_date}`,
      }).then(data => {
        for (let plan of data) {
          if(plan.status != 'completed') {
            this.out_of_date_plans.push(plan);
          }
        }
        if(this.out_of_date_plans.length > 0) {
          this.show_alert = true;
        }
      }).catch(error => {
        console.log(error)
      })
    },
    closeModal() {
      this.$nextTick(() => {
        this.$bvModal.hide('out-of-date-modal')
      })
    }
  },
};
</script>

<style scoped>
.calendar-text, .vue-calendar {
  font-family: "Poppins";
  font-weight: bold;
  color:#46337F;
}
.container {
  margin-top: 110px;
  margin-bottom: 200px;
}

#out-of-date-modal___BV_modal_content_ button {
  background-color: #312457;
  border-color: none;
}
</style>