<template>
   <div class="content">
    <b-container>
      <b-row>
        <div class="col-md-6 order-md">
          <img src="../assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
                <h2 class="font-weight-bold text-center mb-5">Log in to PlaNote</h2>
              </div>
              <b-alert variant="danger" fade dismissible v-model="show_error">Invalid username or password</b-alert>
              <form method="POST" @keyup.enter="checkCredentials()">
                <label for="username">Username</label>
                <div class="form-group first">
                  <b-form-input type="text" class="form-control" v-model="state.username"></b-form-input>
                  <span class="valError" v-if="v$.username.$error">
                    {{v$.username.$errors[0].$message}}
                  </span>
                </div>
                <label for="password">Password</label>
                <div class="form-group last mb-4">
                  <b-form-input type="password" class="form-control" v-model="state.password"></b-form-input>
                  <span class="valError" v-if="v$.password.$error">
                    {{v$.password.$errors[0].$message}}
                  </span>
                </div>
                <b-button value="login" class="btn text-white btn-block login" @click="checkCredentials()">Login</b-button>
                <p class="ml-auto mt-1 text-center">Don't have an account?
                  <router-link to="/register">Create Account</router-link>
                </p>
              </form>
            </div>
          </div>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import sileo from 'sileo'
import useVuelidate from '@vuelidate/core'
import { required } from '@vuelidate/validators'
import { reactive } from '@vue/composition-api'
export default {
  data() {
    return {
      show_error: false,
      error: '',
    }
  },
  setup () {
    const state = reactive({
      username: '',
      password: '',
    })

    const rules = {
      username: { required },
      password: { required },
    }
    const v$ = useVuelidate(rules, state)

    return { state, v$}
  },
  methods: {
    async checkCredentials(){
      this.v$.$validate()
      if(!this.v$.$error){
        this.error = ''

        const form = new FormData()
        form.append('username', this.state.username)
        form.append('password', this.state.password)
        const config = {
          method: 'POST',
          body: form
        }
        const response = await fetch('http://localhost:8000/login/', config)
          .then(response => response.json())

        if (response.error) {
          this.error = response.error
          this.show_error = true
          return
        }

        const token = response.token

        localStorage.setItem('auth_token', token)
        sileo.defaults.headers['Authorization'] = token;
        this.$router.push({name: 'home'});
      }
    },
  },
};
</script>

<style scoped>
* {
  font-family: "Poppins";
  background-color: white;
  margin: auto
}
.body{
  display: flex;
  min-height: 100vh;
  padding-top: 60px;
}
h2, p, label {
  color: black;
}
h2 {
  font-size: 30px;
}
label {
  font-weight: bold;
}
.btn {
  background-color:#46337F;
  color:white;
  font-family: Poppins;
}
.btn:hover {
  background-color:#46337F;
}
a {
  text-decoration: none;
}

/**** Content ****/
.content {
  margin: auto;
  padding-top: 50px;
}
.content .contents .form-group, .content .bg .form-group {
  position: relative;
}
.content .contents .form-group label, .content .bg .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
   transform: translateY(-50%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.content .contents .form-group input, .content .bg .form-group input {
  background: transparent;
  border-bottom: 1px solid #5F5199;
}
.content .contents .form-group.first, .content .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.content .contents .form-group.last, .content .bg .form-group.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.content .contents .form-group label, .content .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3;
}
.content .contents .form-group.focus, .content .bg .form-group.focus {
  background: #fff;
}
.content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
  margin-top: -25px;
}
.content .contents .form-control, .content .bg .form-control {
  padding: 2;
  font-size: 20px;
  border-radius: 15px;
  border-color:#5F5199;
}
.content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content .bg {
  background-size: cover;
  background-position: center;
}
.content a {
  color: #5F5199;
  text-decoration: underline;
}
.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}
.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

/**** Control ****/
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: .2rem;
  color: #888;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #38d39f;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #4dd8a9;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}
.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}
.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}
.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}
.valError {
  color: red;
  font-size: 14px;
}
</style>