<template>
  <div>
    <Navbar></Navbar>

    <!-- Header -->
    <div class="header">
      <div class="header-bg">
        <img :src="header_src">
      </div>

      <!-- Dropdown -->
      <b-dropdown
        id="dropdown-right"
        right text="Right align"
        variant="link"
        toggle-class="text-decoration-none"
        class="header-icon float-right"
        no-caret
      >
        <template #button-content >
          <b-icon icon="three-dots-vertical" class="settings-icon" font-scale="2"></b-icon>
          <span class="setting"></span>
        </template>

        <!-- Archive Confirmation Modal -->
        <b-dropdown-item v-b-modal.archive-modal v-if="note.is_archived == false && note.is_deleted == false">Archive</b-dropdown-item>
        <b-modal size="sm" id="archive-modal" centered title="Archive?">
          Are you sure you wish to archive this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="archiveNote()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>

        <!-- Unarchive Confirmation Modal -->
        <b-dropdown-item v-b-modal.unarchive-modal v-if="note.is_archived == true && note.is_deleted == false">Unarchive</b-dropdown-item>
        <b-modal size="sm" id="unarchive-modal" centered title="Unarchive?">
          Are you sure you wish to unarchive this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="unarchiveNote()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>

        <!-- Delete Confirmation Modal -->
        <b-dropdown-item v-b-modal.delete-modal href="#" v-if="note.is_deleted == false">Delete</b-dropdown-item>
        <b-modal size="sm" id="delete-modal" centered title="Delete?">
          Are you sure you wish to delete this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="deleteNote()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>

        <!-- Restore Confirmation Modal -->
        <b-dropdown-item v-b-modal.restore-modal href="#" v-if="note.is_deleted == true">Restore</b-dropdown-item>
        <b-modal size="sm" id="restore-modal" centered title="Restore?">
          Are you sure you wish to restore this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="restoreNote()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>
      </b-dropdown>

      <!-- Breadcrumbs -->
      <b-breadcrumb :items="items" class="breadcrumbs"></b-breadcrumb>

      <!-- Upload button -->
      <b-button class="upload-button float-right mr-3 px-4 py-1" v-if="note.is_deleted == false" v-b-modal.upload-modal>Upload</b-button>
      <b-modal id="upload-modal" centered title="Upload Photo">
        <b-form-file
          v-model="file"
          :state="Boolean(file)"
          placeholder="Choose a file or drop it here..."
          @change="fileSelectHandler"
          drop-placeholder="Drop file here..."
        ></b-form-file>
        <template #modal-footer>
            <b-button
              class="float-right"
              @click="uploadHeaderFile"
            >
              Upload
            </b-button>
          </template>
      </b-modal>

      <!-- Emoji Icon -->
      <b-container>
        <div class="icon-text" v-if="note.is_deleted == true">{{ icon }}</div>
        <div class="icon-text" id="popover" v-else v-on:click="toggleEmojiPicker()">{{ icon }}</div>
      </b-container>
    </div>

    <!-- Body/Content -->
    <b-container>
      <b-popover :show.sync="show_emoji_picker"
        target="popover" placement="rightbottom">
        <VEmojiPicker
          v-show="show_emoji_picker"
          :style="{ width: '440px', height: '200' }"
          labelSearch="Search"
          lang="pt-BR"
          @select="onSelectEmoji"
        />
      </b-popover>

      <!-- Title input field -->
      <b-form-input
        v-if="note.is_deleted == true"
        id="input-large"
        size="lg"
        v-model="title"
        disabled
      ></b-form-input>
      <b-form-input
        v-else
        id="input-large"
        size="lg"
        v-model="title"
        @change="updateTitle()"
      ></b-form-input>

      <b-alert v-if="note.is_deleted == true" variant="warning" show>
        <b-icon-trash></b-icon-trash> Deleted Note
      </b-alert>

      <b-alert v-if="note.is_archived == true && note.is_deleted == false" variant="info" show>
        <b-icon-archive></b-icon-archive> Archived Note
      </b-alert>

      <!-- Text Editor -->
      <b-button-toolbar v-if="show_editor" class="mt-2">
        <b-button-group class="shadow-sm">
          <b-button title="Bold" variant="light" size="lg" >
            <b-icon icon="type-bold" aria-hidden="true"></b-icon>
          </b-button>
          <b-button title="Italic" variant="light" size="lg">
            <b-icon icon="type-italic" aria-hidden="true"></b-icon>
          </b-button>
          <b-button title="Underline" variant="light" size="lg">
            <b-icon icon="type-underline" aria-hidden="true"></b-icon>
          </b-button>
          <b-button title="Strikethrough" variant="light" size="lg">
            <b-icon icon="type-strikethrough" aria-hidden="true"></b-icon>
          </b-button>
          <b-button title="Code" variant="light" size="lg">
            <b-icon icon="code" aria-hidden="true"></b-icon>
          </b-button>
        </b-button-group>
      </b-button-toolbar>

      <!-- Content textarea -->
      <b-form-textarea
        v-if="note.is_deleted == true"
        class="mt-3 mb-4"
        placeholder="Add a content"
        rows="3"
        max-rows="200"
        v-model="content"
        disabled
      ></b-form-textarea>
      <vue-editor
        v-else
        v-model="content"
        :editorToolbar="customToolbar"
        @blur="updateContent()"
      ></vue-editor>
    </b-container>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import sileo from 'sileo';
import { VEmojiPicker} from "v-emoji-picker";
import { VueEditor} from "vue2-editor";

const Note = new sileo.Model('note', 'notes')
const User = new sileo.Model('user', 'users')

export default {
  components: {
    Navbar,
    VEmojiPicker,
    VueEditor
  },
  data() {
    return {
      user: null,

      // Note attributes
      note_id: -1,
      title: '',
      icon: '',
      note: {},
      date_created: '',
      file: null,
      fileURL: '',
      header_src: null,

      // Date for previous Board
      route_date: '',

      // Text editor toggle
      show_editor: false,

      // Emoji picker toggle
      show_emoji_picker: false,

      // Breadcrumbs
      items: [
        {
          text: "Calendar",
          to: {
            name: 'home'
          },
        },
        {
          text: 'Board',
          to: "/:date",
        },
        {
          text: "Note Page"
        },
      ],

      // Editor
      content: '',
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" }
        ],
        ["blockquote", "code-block"],
        [{ list: "ordered" }, { list: "bullet" }], //list
        [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme
        ["clean"] // remove formatting button
      ],
    };
  },
  async created() {
    this.note_id = this.$route.params.id;
    this.route_date = this.$route.params.date;
    this.items[1].to = `/${this.route_date}`;
    await this.getNote()
    await this.getCurrentUser()
    this.checkUserPermission()
  },
  methods: {
    checkUserPermission() {
      if (this.note.user.pk != this.user.pk) {
        this.$router.push({name: 'home'});
      }
    },
    async getCurrentUser() {
      this.user = await User.objects.filter()
    },
    // Get Note based on route id
    getNote() {
      Note.objects.get(this.note_id).then(data => {
        this.note = data;
        this.title = data.title;
        this.content = (data.content == 'null')? '': data.content;
        this.icon = data.icon;
        if(data.header != 'null' && data.header != null) {
          this.header_src = 'https://storage.googleapis.com/planote-uploads/'+data.header;
        } else {
          this.header_src = null;
        }
        this.getDateCreated(data.date_created);
      }).catch(e => {
        console.error(e);
      })
    },
    // Change date_created to proper date format
    getDateCreated(date_created) {
      let date = date_created.substring(0, 10)
      let time = date_created.substring(12, 20)
      date = date.split("/");
      time = time.split(":");
      this.date_created = new Date(
        date[2], date[0]-1, date[1], parseInt(time[0])+8, time[1], time[2]
      );
    },
    // Update note title
    updateTitle() {
      // Note form for creating new note
      const form = new FormData();
      form.append('user', this.note.user.pk)
      form.append('title', this.title)
      form.append('icon', this.note.icon)
      form.append('content', this.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.note.header)
      form.append('is_note', this.note.is_note)
      form.append('is_archived', this.note.is_archived)
      form.append('is_deleted', this.note.is_deleted)

      // Update Note title
      Note.objects.update({'pk': this.note.pk}, form).then(data => {
        this.note = data;
      }).catch(error => {
        console.log(error);
      })
    },
    // Update note content
    updateContent() {
      console.log(this.content);

      // Note form for updating note content
      const form = new FormData();
      form.append('user', this.note.user.pk)
      form.append('title', this.note.title)
      form.append('icon', this.note.icon)
      form.append('content', this.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.note.header)
      form.append('is_note', this.note.is_note)
      form.append('is_archived', this.note.is_archived)
      form.append('is_deleted', this.note.is_deleted)

      // Update note content
      Note.objects.update({'pk': this.note.pk}, form).then(data => {
        this.note = data;
      }).catch(error => {
        console.log(error);
      })

      // Hide text-editor
      this.show_editor = false;
    },
    // Mark note as archived
    archiveNote() {
      // Note form for archiving note
      const form = new FormData();
      form.append('user', this.note.user.pk)
      form.append('title', this.note.title)
      form.append('icon', this.note.icon)
      form.append('content', this.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.note.header)
      form.append('is_note', this.note.is_note)
      form.append('is_archived', true)

      // Update Note as archived
      Note.objects.update({'pk': this.note.pk}, form).then(data => {
        this.note = data;
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error);
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('archive-modal')
      })
    },
    // Mark note as unarchived
    unarchiveNote() {
      // Note form for archiving note
      const form = new FormData();
      form.append('user', this.note.user.pk)
      form.append('title', this.note.title)
      form.append('icon', this.note.icon)
      form.append('content', this.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.note.header)
      form.append('is_note', this.note.is_note)
      form.append('is_archived', false)

      // Update Note as archived
      Note.objects.update({'pk': this.note.pk}, form).then(data => {
        this.note = data;
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error);
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('unarchive-modal')
      })
    },
    // Mark note as deleted
    deleteNote() {
      // Note form for deleting note
      const form = new FormData();
      form.append('user', this.note.user.pk)
      form.append('title', this.note.title)
      form.append('icon', this.note.icon)
      form.append('content', this.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.note.header)
      form.append('is_note', this.note.is_note)
      form.append('is_deleted', true)
      form.append('is_archived', this.note.is_archived)

      // Update Note as deleted
      Note.objects.update({'pk': this.note.pk}, form).then(data => {
        this.note = data;
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error);
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('delete-modal')
      })
    },
    // Restore deleted note
    restoreNote() {
      // Note form for deleting note
      const form = new FormData();
      form.append('user', this.note.user.pk)
      form.append('title', this.note.title)
      form.append('icon', this.note.icon)
      form.append('content', this.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.note.header)
      form.append('is_note', this.note.is_note)
      form.append('is_deleted', false)
      form.append('is_archived', this.note.is_archived)

      // Update Note as deleted
      Note.objects.update({'pk': this.note.pk}, form).then(data => {
        this.note = data;
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error);
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('restore-modal')
      })
    },
    // Show text editor
    showEditor() {
      this.show_editor = true;
    },
    // Show/unshow emoji picker
    toggleEmojiPicker() {
      this.show_emoji_picker = !this.show_emoji_picker;
    },
    // Update note emoji
    onSelectEmoji(emoji) {
      // Get selected emoji
      this.icon = emoji.data;

      // Hide emoji picker pop over
      this.show_emoji_picker = !this.show_emoji_picker;

      // Create form to update emoji
      const form = new FormData();
      form.append('user', this.note.user.pk)
      form.append('title', this.note.title)
      form.append('icon', this.icon)
      form.append('content', this.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.note.header)
      form.append('is_note', this.note.is_note)
      form.append('is_deleted', this.note.is_deleted)
      form.append('is_archived', this.note.is_archived)

      // Update Note emoji
      Note.objects.update({'pk': this.note.pk}, form).then(data => {
        this.note = data;
      }).catch(error => {
        console.log(error);
      })
    },
    async uploadHeaderFile() {
      // Get credentials for Google Cloud
      let creds = await fetch('http://localhost:8000/get-upload-creds/')
        .then(response => response.json())
      const { fields, url } = creds

      // filename is the string to be saved in the database
      const filename = fields.key

      // Upload to Google Cloud
      const form = new FormData()

      for (let [key, value] of Object.entries(fields)) {
        form.append(key, value)
      }
      form.append('file', this.file)

      await fetch(url, {
        method: 'POST',
        mode: 'cors',
        body: form
      }).catch(error => { console.log('in error', error) })

      // Form for updating header filename to datase
      const header_form = new FormData();
      header_form.append('user', this.note.user.pk)
      header_form.append('title', this.note.title)
      header_form.append('icon', this.note.icon)
      header_form.append('content', this.note.content)
      header_form.append('date_created', this.date_created.toISOString())
      header_form.append('is_note', this.note.is_note)
      header_form.append('is_deleted', this.note.is_deleted)
      header_form.append('is_archived', this.note.is_archived)
      header_form.append('header', filename)

      // Update Header in database
      await Note.objects.update({'pk': this.note.pk}, header_form).then(data => {
        this.note = data;
        this.header_src = 'https://storage.googleapis.com/planote-uploads/'+data.header;
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('upload-modal')
      })
    },
    fileSelectHandler(event) {
      this.file = event.target.files[0]
      this.fileURL = URL.createObjectURL(this.file)
    },
  }
};
</script>

<style scoped>
* {
  font-family: "Poppins";
}

/* Header */
.header {
  position: relative;
  background-color: #B2A8E8;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-top: 40px;
}
.header-bg {
  position: absolute;
  width: 100%;
  height: 170px;
  overflow: hidden
}
.header-bg img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Icon */
.icon-text {
  margin: auto;
  font-size: 90px;
  width: 130px;
  height: 130px;
  margin: 30px 0px 0px 0px;
  text-align: center;
  border-radius: 20px !important;
  background-color: white;
  position: absolute;
}
.icon-text:hover {
  background-color: #7E72B6;
}
.header-icon {
  margin: auto;
  margin-top: 20px;
}
.upload-button {
  position: relative;
  border-radius: 10px !important;
  border: 2px solid #46337f;
  background-color: white;
  color: #46337f;
  margin-top: 50px;
}
.upload-button:hover {
  border: 2px solid #46337f;
  background-color: #46337f;
  color: white;
}
.upload-button:active {
  border: 2px solid #2b1f50 !important;
  background-color: #2b1f50 !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}
.upload-button:focus {
  border: 2px solid #46337f;
  background-color: white;
  outline: none !important;
  box-shadow: none !important;
  color: #46337f;
}

/*** Breadcrumbs ***/
.breadcrumb {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding-top: 30px;
}
.breadcrumb-item.active {
  font-weight: lighter;
  color: white;
  filter: drop-shadow( 1px 1px 1px #26272B);
  padding-left: 5px;
}
.breadcrumb a {
  color: white;
  filter: drop-shadow( 1px 1px 1px #26272B);
  font-weight: lighter;
  text-decoration: none;
  background-color: transparent;
}
.breadcrumb a:hover {
  text-decoration: underline;
  background-color: transparent;
}
li:nth-child(2).breadcrumb-item::before {
  content: ">";
  font-size: 20px;
  padding-right: 5px;
  margin-top: -3px;
  color: white;
  filter: drop-shadow( 1px 1px 1px #26272B);
}
li:nth-child(3).breadcrumb-item::before {
  content: ">";
  font-size: 20px;
  padding-right: 5px;
  margin-top: -3px;
  color: white;
  filter: drop-shadow( 1px #26272B);
}
li:nth-child(3).breadcrumb-item span {
  cursor: default;
}

/* Dropdown */
::v-deep #dropdown-right__BV_toggle_ {
  padding-top: 6px;
  padding-right: 6px;
}
::v-deep #dropdown-right__BV_toggle_:focus {
  box-shadow: none;
}
.settings-icon g {
  color: white !important;
}
.settings-icon {
  filter: drop-shadow( 1px 1px 1px #26272B);
}
::v-deep .dropdown-menu {
  padding: 0px;
  border: 1px solid #312457;
}
::v-deep .dropdown-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
::v-deep .dropdown-item:hover {
  background-color: #B2A8E8;
  border-radius: 3px;
}
::v-deep .dropdown-menu li:active,
::v-deep .dropdown-menu li:active a {
  background-color: #312457;
  color: white;
}
::v-deep #dropdown-right__BV_toggle_ > svg > g {
  color: #312457;
}
::v-deep #dropdown-right > ul {
  margin-right: 15px;
}

/* Archive and Delete Confirmation Modals */
#upload-modal___BV_modal_content_ button,
#archive-modal___BV_modal_content_ button,
#delete-modal___BV_modal_content_ button {
  background-color: #312457;
  border-color: none;
}

/* Title */
input {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  margin-top: 60px;
  border: none;
  outline: none;
}
.form-control:disabled {
  background-color: transparent;
  border: none;
  outline: none;
  overflow: hidden !important;
}
input:focus {
  box-shadow: none;
  outline: none;
  color: black;
}

/* Content */
::v-deep .container .ql-toolbar.ql-snow,
::v-deep #quill-container div.ql-editor {
  font-family: Poppins;
}
::v-deep .container .ql-toolbar.ql-snow,
::v-deep #quill-container {
  border: 0px;
}

/* Emoji Picker Popover */
.popover{
  max-width: 500px;
}
#popover {
  cursor: pointer;
}
</style>
