<template>
  <div>
    <Navbar></Navbar>

    <!-- Header -->
    <div class="header">
      <div class="header-bg">
        <img :src="header_src">
      </div>

      <!-- Dropdown -->
      <b-dropdown
        id="dropdown-right"
        right text="Right align"
        variant="link"
        toggle-class="text-decoration-none"
        class="header-icon float-right"
        no-caret
      >
        <template #button-content >
          <b-icon icon="three-dots-vertical" class="settings-icon" font-scale="2"></b-icon>
          <span class="setting"></span>
        </template>
        <b-dropdown-item v-b-modal.setting-modal v-if="note.is_deleted == false">Settings</b-dropdown-item>

        <!-- Settings Date Modal -->
        <b-modal id="setting-modal" centered title="Edit Deadline?">
          <b-input-group class="mb-3">
            <b-form-input
              id="deadline"
              v-model="new_deadline"
              type="text"
              placeholder="YYYY-MM-DD"
              autocomplete="off"
              class="form shadow-sm"
              @keyup.enter="updateDeadline()"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="new_deadline"
                button-only
                right
                locale="en-US"
                aria-controls="deadline"
                class="calendar-button shadow-sm"
                @context="onContext(new_deadline)"
                dropright text="Drop-Right"
                :min="date_created"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="updateDeadline()"
            >
              Save
            </b-button>
          </template>
        </b-modal>

        <!-- Archive Confirmation Modal -->
        <b-dropdown-item v-b-modal.archive-modal v-if="note.is_archived == false && note.is_deleted == false">Archive</b-dropdown-item>
        <b-modal size="sm" id="archive-modal" centered title="Archive?">
          Are you sure you wish to archive this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="archivePlan()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>

        <!-- Unarchive Confirmation Modal -->
        <b-dropdown-item v-b-modal.unarchive-modal v-if="note.is_archived == true && note.is_deleted == false">Unarchive</b-dropdown-item>
        <b-modal size="sm" id="unarchive-modal" centered title="Unarchive?">
          Are you sure you wish to unarchive this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="unarchivePlan()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>

        <!-- Delete Confirmation Modal -->
        <b-dropdown-item v-b-modal.delete-modal href="#" v-if="note.is_deleted == false">Delete</b-dropdown-item>
        <b-modal size="sm" id="delete-modal" centered title="Delete?">
          Are you sure you wish to delete this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="deletePlan()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>

        <!-- Restore Confirmation Modal -->
        <b-dropdown-item v-b-modal.restore-modal href="#" v-if="note.is_deleted == true">Restore</b-dropdown-item>
        <b-modal size="sm" id="restore-modal" centered title="Restore?">
          Are you sure you wish to restore this?
          <template #modal-footer>
            <b-button
              class="float-right"
              @click="restorePlan()"
            >
              Yes
            </b-button>
          </template>
        </b-modal>
      </b-dropdown>

      <!-- Breadcrumbs -->
      <b-breadcrumb :items="items" class="breadcrumbs"></b-breadcrumb>

      <!-- Upload button -->
      <b-button class="upload-button float-right mr-3 px-4 py-1" v-if="note.is_deleted == false" v-b-modal.upload-modal>Upload</b-button>
      <b-modal id="upload-modal" centered title="Upload Photo">
        <b-form-file
          v-model="file"
          :state="Boolean(file)"
          placeholder="Choose a file or drop it here..."
          @change="fileSelectHandler"
          drop-placeholder="Drop file here..."
        ></b-form-file>
        <template #modal-footer>
            <b-button
              class="float-right"
              @click="uploadHeaderFile"
            >
              Upload
            </b-button>
          </template>
      </b-modal>

      <!-- Icon -->
      <b-container>
        <div class="icon-text" v-if="note.is_deleted == true">{{ icon }}</div>
        <div class="icon-text" id="popover" data-toggle="popover" data-trigger="focus" v-else v-on:click="toggleEmojiPicker()">{{ icon }}</div>
      </b-container>
    </div>

    <!-- Body Contents -->
    <b-container>
      <b-popover :show.sync="show_emoji_picker"
        target="popover" placement="rightbottom">
        <VEmojiPicker
          v-show="show_emoji_picker"
          :style="{ width: '440px', height: '200' }"
          labelSearch="Search"
          lang="pt-BR"
          @select="onSelectEmoji"
        />
      </b-popover>
      <div id="progress">
        <b-progress :value="value" variant="success" show-progress class="bar w-75 mb-2 shadow-sm"></b-progress>
        <p class="deadline">Deadline : {{plan.deadline1}}</p>
      </div>

      <b-form-input
        v-if="note.is_deleted == true"
        id="input-large"
        class="title"
        size="lg"
        v-model="title"
        disabled
      ></b-form-input>
      <b-form-input
        v-else
        id="input-large"
        class="title"
        size="lg"
        v-model="title"
        @change="updateTitle()"
      ></b-form-input>

      <b-alert v-if="is_out_of_date && value < 100" variant="info" dismissible fade show>
        <b-icon-clock></b-icon-clock> Plan is currently out of date
      </b-alert>

      <b-alert v-if="note.is_deleted == true" variant="warning" show>
        <b-icon-trash></b-icon-trash> Deleted Plan
      </b-alert>

      <b-alert v-if="note.is_archived == true && note.is_deleted == false" variant="info" show>
        <b-icon-archive></b-icon-archive> Archived Plan
      </b-alert>

      <!-- List and Sticky Note -->
      <b-row id="plan-content">
        <!-- List -->
        <b-col>
          <div class="list">
            <!-- Task list -->
            <b-input-group
              class="mb-2"
              v-for="task in tasks"
              :key="task.pk"
              v-on:mouseover="handleMouseOver(task)"
              v-on:mouseleave="handleMouseLeave(task)"
            >
              <b-form-checkbox
                v-if="note.is_deleted == true"
                v-model="task.is_done"
                disabled
              >
              </b-form-checkbox>
              <b-form-checkbox
                v-else
                v-model="task.is_done"
                @change="updateTaskStatus(task)"
              >
              </b-form-checkbox>
              <b-form-input class="task-input-field" v-if="note.is_deleted == true" v-model="task.text" disabled></b-form-input>
              <b-form-input
                class="task-input-field"
                v-else v-model="task.text"
                @change="updateTaskText(task)"
                @focusin="handleMouseOver(task)"
              ></b-form-input>
              <b-button
                class="delete-button"
                @click="deleteTask(task)"
                v-if="note.is_deleted == false && task.delete_button == true">
                <b-icon icon="x"/>
              </b-button>
              <b-button
                class="delete-button text-white"
                @click="deleteTask(task)"
                v-else>
                <b-icon icon="x"/>
              </b-button>
            </b-input-group>
            <b-input-group class="mb-2" v-if="show_new_task">
              <b-form-checkbox
                disabled
              >
              </b-form-checkbox>
              <b-form-input
                class="task-input-field"
                autofocus
                @blur="addNewTask()"
                v-model="inputted_task"
                placeholder="+Add new task"
                :state="taskState"
              ></b-form-input>
              <b-button class="delete-button" @click="hideNewTask()">
                <b-icon icon="x"/>
              </b-button>
            </b-input-group>
            <!-- Add Task button-->
            <b-button
              class="add-button"
              variant="light"
              @click="showNewTask()"
              v-if="!show_new_task && note.is_deleted == false"
            >
              <b-icon icon="plus"></b-icon><span>Add Task</span>
            </b-button>
            <b-button
              class="add-button"
              variant="light"
              v-else-if="note.is_deleted == false" disabled>
              <b-icon icon="plus"></b-icon><span>Add Task</span>
            </b-button>
          </div>
        </b-col>
        <!-- End of List -->

        <!-- Sticky Note -->
        <b-col>
          <b-card class="shadow-sm rounded" header="Notes">
            <blockquote class="blockquote mb-5">
              <b-form-textarea
                v-if="note.is_deleted == true"
                placeholder="Add a note"
                rows="6"
                max-rows="600"
                v-model="content"
                disabled
              ></b-form-textarea>
              <b-form-textarea
                v-else
                placeholder="Add a note"
                rows="6"
                max-rows="600"
                v-model="content"
                @change="updateContent()"
              ></b-form-textarea>
            </blockquote>
          </b-card>
        </b-col>
      </b-row>
      <!-- End of List and Sticky Notes -->

    </b-container>
    <!-- End of Body Contents -->

  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import sileo from 'sileo';
import { VEmojiPicker} from "v-emoji-picker";

const Plan = new sileo.Model('plan', 'plans')
const Task = new sileo.Model('task', 'tasks')
const Note = new sileo.Model('note', 'notes')
const User = new sileo.Model('user', 'users')

export default {
  components: {
    Navbar,
    VEmojiPicker
  },
  data() {
    return {
      user: null,

      // Plan attributes
      plan_id: -1,
      plan: {},
      note: {},
      title: '',
      icon: '',
      content: '',
      date_created: '',
      file: null,
      fileURL: '',
      header_src: null,
      deadline_array: [],
      is_out_of_date: false,

      // Progress Bar
      value: '',

      // Tasks
      tasks: [],
      new_task: {},
      delete_buttons: false,
      inputted_task: '',
      list_state: null,
      show_new_task: false,
      required_new_task: false,

      // Date for previous Board
      route_date: '',

      // Settings Calendar
      new_deadline: '',

      // Emoji picker toggle
      show_emoji_picker: false,

      // Sticky Notes
      tabs: [],
      tabCounter: 0,

      // Breadcrumbs
      items: [
        {
          text: "Calendar",
          to: {
            name: 'home'
          },
        },
        {
          text: "Board", //The actual date should be here
          to: "/:date", //The link for the source board should be here
        },
        {
          text: "Plan Page"
        },
      ]
    };
  },
  async created() {
    this.plan_id = this.$route.params.id;
    this.route_date = this.$route.params.date;
    this.items[1].to = `/${this.route_date}`;
    await this.getPlan();
    await this.getCurrentUser()
    this.checkUserPermission()
  },
  computed: {
    taskState() {
      return this.inputted_task == '' ? false : true
    }
  },
  methods: {
    checkUserPermission() {
      if (this.note.user.pk != this.user.pk) {
        this.$router.push({name: 'home'});
      }
    },
    async getCurrentUser() {
      this.user = await User.objects.filter()
    },
    // Get Plan based on id
    getPlan() {
      Plan.objects.get(this.plan_id).then(data => {
        this.plan = data;
        this.note = data.note;
        this.icon = data.note.icon;
        let new_tasks = []
        for (let task of data.tasks) {
          let new_task = {
            pk: task.pk,
            is_done: task.is_done,
            plan_id: task.plan_id,
            text: task.text,
            delete_button: false,
          }
          new_tasks.push(new_task);
        }
        if(data.note.header != null && data.note.header != 'null') {
          this.header_src = 'https://storage.googleapis.com/planote-uploads/'+data.note.header;
        } else {
          this.header_src = null;
        }
        this.checkDeadline(data.deadline2);
        this.tasks = new_tasks;
        this.title = data.note.title;
        this.value = data.progress.toString();
        this.content = (data.note.content == 'null') ? '': data.note.content;
        this.getDateCreated(data.note.date_created);
      }).catch(e => {
        console.error(e);
      })
    },
    checkDeadline(deadline) {
      this.deadline_array = deadline.split("/");
      this.deadline_array[0] = this.deadline_array[0] - 1;
      let new_date = new Date();
      let date_today = new Date(new_date.getFullYear(), new_date.getMonth(), new_date.getDate())
      let deadline_date = new Date(this.deadline_array[2], this.deadline_array[0], this.deadline_array[1]);
      if(deadline_date < date_today && this.value < 100) {
        this.is_out_of_date = true;
      } else {
        this.is_out_of_date = false;
      }
    },
    // Change date_created to proper date format
    getDateCreated(date_created) {
      let date = date_created.substring(0, 10)
      let time = date_created.substring(12, 20)
      date = date.split("/");
      time = time.split(":");
      this.date_created = new Date(
        date[2], date[0]-1, date[1], parseInt(time[0])+8, time[1], time[2]
      );
    },
    // Update Plan Title
    updateTitle() {
      // Create form for updating title
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('title', this.title)
      form.append('icon', this.plan.note.icon)
      form.append('content', this.plan.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.plan.note.header)
      form.append('is_note', this.plan.note.is_note)
      form.append('is_archived', this.plan.note.is_archived)
      form.append('is_deleted', this.plan.note.is_deleted)

      // Update Plan title
      Note.objects.update({'pk': this.plan.note.pk}, form).then(data => {
        this.plan.note = data;
      }).catch(error => {
        console.log(error);
      })
    },
    // Update Plan note content
    updateContent() {
      // Create form for updating content
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('title', this.plan.note.title)
      form.append('icon', this.plan.note.icon)
      form.append('content', this.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.plan.note.header)
      form.append('is_note', this.plan.note.is_note)
      form.append('is_archived', this.plan.note.is_archived)
      form.append('is_deleted', this.plan.note.is_deleted)

      // Update Plan content
      Note.objects.update({'pk': this.plan.note.pk}, form).then(data => {
        this.plan.note = data;
      }).catch(error => {
        console.log(error);
      })
      this.show_editor = false;
    },
    updateDeadline() {
      // Get date today
      const now = new Date()

      // Get deadline based on inputted date and current time
      let deadline_array = this.new_deadline.split("-");
      let deadline = new Date(
        deadline_array[0],
        parseInt(deadline_array[1])-1,
        deadline_array[2],
        now.getHours(),
        now.getMinutes(),
        now.getSeconds(),
        now.getMilliseconds(),
      )

      // Form for updating deadline of plan
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('note', this.plan.note.pk)
      form.append('deadline', deadline.toISOString())

      Plan.objects.update({'pk': this.plan.pk}, form).then(data => {
        this.plan = data;
        this.new_deadline = '';
        this.checkDeadline(data.deadline2);
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('setting-modal')
      })
    },
    // Mark plan as archived
    archivePlan() {
      // Form for archiving plan
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('title', this.plan.note.title)
      form.append('icon', this.plan.note.icon)
      form.append('content', this.plan.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.plan.note.header)
      form.append('is_note', this.plan.note.is_note)
      form.append('is_archived', true)

      // Update plan as archived
      Note.objects.update({'pk': this.plan.note.pk}, form).then(data => {
        this.plan.note = data;
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('archive-modal')
      })
    },
    // Unarchive plan
    unarchivePlan() {
      // Form for archiving plan
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('title', this.plan.note.title)
      form.append('icon', this.plan.note.icon)
      form.append('content', this.plan.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.plan.note.header)
      form.append('is_note', this.plan.note.is_note)
      form.append('is_archived', false)

      // Update plan as archived
      Note.objects.update({'pk': this.plan.note.pk}, form).then(data => {
        this.plan.note = data;
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('unarchive-modal')
      })
    },
    // Mark plan as deleted
    deletePlan() {
      // Form for deleting plan
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('title', this.plan.note.title)
      form.append('icon', this.plan.note.icon)
      form.append('content', this.plan.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.plan.note.header)
      form.append('is_note', this.plan.note.is_note)
      form.append('is_archived', this.plan.note.is_archived)
      form.append('is_deleted', true)

      // Update Plan as deleted
      Note.objects.update({'pk': this.plan.note.pk}, form).then(data => {
        this.plan.note = data
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('delete-modal')
      })
    },
    // Restore deleted plan
    restorePlan(){
      // Form for restoring plan
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('title', this.plan.note.title)
      form.append('icon', this.plan.note.icon)
      form.append('content', this.plan.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.plan.note.header)
      form.append('is_note', this.plan.note.is_note)
      form.append('is_archived', this.plan.note.is_archived)
      form.append('is_deleted', false)

      // Update Plan as not deleted
      Note.objects.update({'pk': this.plan.note.pk}, form).then(data => {
        this.plan.note = data
        this.$router.push({name: 'board', params: { date: this.route_date }}).catch(()=>{});
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('restore-modal')
      })
    },
    // Show/unshow emoji picker
    toggleEmojiPicker() {
      this.show_emoji_picker = !this.show_emoji_picker;
    },
    // Update plan emoji
    onSelectEmoji(emoji) {
      // Get selected emoji
      this.icon = emoji.data;

      // Hide emoji picker popover
      this.show_emoji_picker = !this.show_emoji_picker;

      // Create form to update emoji
      const form = new FormData();
      form.append('user', this.plan.note.user.pk)
      form.append('title', this.plan.note.title)
      form.append('icon', this.icon)
      form.append('content', this.plan.note.content)
      form.append('date_created', this.date_created.toISOString())
      form.append('header', this.plan.note.header)
      form.append('is_note', this.plan.note.is_note)
      form.append('is_archived', this.plan.note.is_archived)
      form.append('is_deleted', this.plan.note.is_deleted)

      // Update Plan emoji
      Note.objects.update({'pk': this.plan.note.pk}, form).then(data => {
        this.plan.note = data;
      }).catch(error => {
        console.log(error);
      })
    },
    async uploadHeaderFile() {
      // Get credentials for Google Cloud
      let creds = await fetch('http://localhost:8000/get-upload-creds/')
        .then(response => response.json())
      const { fields, url } = creds

      // filename is the string to be saved in the database
      const filename = fields.key

      // Upload to Google Cloud
      const form = new FormData()

      for (let [key, value] of Object.entries(fields)) {
        form.append(key, value)
      }
      form.append('file', this.file)

      await fetch(url, {
        method: 'POST',
        mode: 'cors',
        body: form
      }).catch(error => { console.log('in error', error) })

      const header_form = new FormData();
      header_form.append('user', this.plan.note.user.pk)
      header_form.append('title', this.plan.note.title)
      header_form.append('icon', this.plan.note.icon)
      header_form.append('content', this.plan.note.content)
      header_form.append('date_created', this.date_created.toISOString())
      header_form.append('is_note', this.plan.note.is_note)
      header_form.append('is_deleted', this.plan.note.is_deleted)
      header_form.append('is_archived', this.plan.note.is_archived)
      header_form.append('header', filename)

      // Update Header in database
      await Note.objects.update({'pk': this.plan.note.pk}, header_form).then(data => {
        this.plan.note = data;
        this.header_src = 'https://storage.googleapis.com/planote-uploads/'+data.header;
      }).catch(error => {
        console.log(error)
      })

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('upload-modal')
      })
    },
    fileSelectHandler(event) {
      this.file = event.target.files[0]
      this.fileURL = URL.createObjectURL(this.file)
    },
    // Date Settings
    onContext(ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD
    },
    // Update task status
    updateTaskStatus(task) {
      // Task form for updated task
      const form = new FormData();
      form.append('text', task.text)
      form.append('plan', task.plan_id)
      form.append('is_done', task.is_done)

      // Update task status and plan progress
      Task.objects.update({'pk': task.pk}, form).then(data => {
        Plan.objects.get(this.plan_id).then(data => {
          this.value = data.progress.toString();
          let new_tasks = []
          for (let task of data.tasks) {
            let new_task = {
              pk: task.pk,
              is_done: task.is_done,
              plan_id: task.plan_id,
              text: task.text,
              delete_button: false,
            }
            new_tasks.push(new_task);
          }
          this.tasks = new_tasks;
          this.checkDeadline(data.deadline2);
        }).catch(e => {
          console.error(e);
        })
      }).catch(error => {
        console.log(error)
      })
    },
    // Update task text
    updateTaskText(task) {
      // Task form for updating task text
      const form = new FormData();
      form.append('text', task.text)
      form.append('plan', task.plan_id)
      form.append('is_done', task.is_done)

      // Update task text and plan progress
      Task.objects.update({'pk': task.pk}, form).then(data => {
        Plan.objects.get(this.plan_id).then(data => {
          this.value = data.progress.toString();
        }).catch(e => {
          console.error(e);
        })
      }).catch(error => {
        console.log(error)
      })
    },
    // Add new task
    async addNewTask() {
      if(!this.taskState) {
      } else {
        const form = new FormData();
        form.append('text', this.inputted_task)
        form.append('plan', this.plan_id)
        form.append('is_done', false)

        // Create new task
        await Task.objects.create(form).then(data => {
          this.new_task = {
            pk: data.pk,
            is_done: data.is_done,
            plan_id: data.plan_id,
            text: data.text,
            delete_button: false,
          }
          this.tasks.push(this.new_task)
          Plan.objects.get(this.plan_id).then(data => {
            this.value = data.progress.toString();
          }).catch(e => {
            console.error(e);
          })
        }).catch(error => {
          console.log(error)
        })

        this.show_new_task = false;
        this.inputted_task = '';
      }
    },
    // Delete existing task
    deleteTask(task) {
      const form = new FormData();
      form.append('text', (task.text =='')? 'null': task.text)
      form.append('plan', this.plan_id)
      form.append('is_done', task.is_done)
      form.append('is_deleted', true)

      // Create new task
      Task.objects.update({'pk': task.pk}, form).then(data => {
        Plan.objects.get(this.plan_id).then(data => {
          this.value = data.progress.toString();
          let new_tasks = []
          for (let task of data.tasks) {
            let new_task = {
              pk: task.pk,
              is_done: task.is_done,
              plan_id: task.plan_id,
              text: task.text,
              delete_button: false,
            }
            new_tasks.push(new_task);
          }
          this.tasks = new_tasks;
        }).catch(e => {
          console.error(e);
        })
      }).catch(error => {
        console.log(error)
      })
    },
    // Hide new task input field
    hideNewTask() {
      this.inputted_task = '';
      this.show_new_task = false;
    },
    // Show new task input field
    showNewTask() {
      this.show_new_task = true;
    },
    // Show delete buttons when hovered
    handleMouseOver(task) {
      for (let old_task in this.tasks) {
        if (this.tasks[old_task].pk == task.pk) {
          this.tasks[old_task].delete_button = true;
        }
      }
    },
    // Hide delete buttons when hovered
    handleMouseLeave(task) {
      for (let old_task in this.tasks) {
        if (this.tasks[old_task].pk == task.pk) {
          this.tasks[old_task].delete_button = false;
        }
      }
    },
  },
};
</script>


<style scoped>
* {
  font-family: "Poppins";
}
button {
  background-color: #312457;
}
button:hover {
  background-color: #5F5199;
}
input {
  border-color: #312457;
  box-shadow: none;
  border-radius: 7px;
}

/*** Header ***/
.header {
  position: relative;
  background-color: #B2A8E8;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 40px;
  width: 100vw;
}
.header-bg {
  position: absolute;
  width: 100%;
  height: 170px;
  overflow: hidden
}
.header-bg img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/*** Icon ***/
.icon-text {
  margin: auto;
  font-size: 90px;
  width: 130px;
  height: 130px;
  margin: 30px 0px 0px 0px;
  text-align: center;
  border-radius: 20px !important;
  background-color: white;
  position: absolute;
}
.icon-text:hover {
  background-color: #7E72B6;
}
.header-icon {
  margin: auto;
  margin-top: 20px;
}
.upload-button {
  position: relative;
  border-radius: 10px !important;
  border: 2px solid #46337f;
  background-color: white;
  color: #46337f;
  margin-top: 50px;
}
.upload-button:hover {
  border: 2px solid #46337f;
  background-color: #46337f;
  color: white;
}
.upload-button:active {
  border: 2px solid #2b1f50 !important;
  background-color: #2b1f50 !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}
.upload-button:focus {
  border: 2px solid #46337f;
  background-color: white;
  outline: none !important;
  box-shadow: none !important;
  color: #46337f;
}

/*** Breadcrumbs ***/
.breadcrumb {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding-top: 30px;
}
.breadcrumb-item.active {
  font-weight: lighter;
  color: white;
  filter: drop-shadow( 1px 1px 1px #26272B);
  padding-left: 5px;
}
.breadcrumb a {
  color: white;
  filter: drop-shadow( 1px 1px 1px #26272B);
  font-weight: lighter;
  text-decoration: none;
  background-color: transparent;
}
.breadcrumb a:hover {
  text-decoration: underline;
  background-color: transparent;
}
li:nth-child(2).breadcrumb-item::before {
  content: ">";
  font-size: 20px;
  padding-right: 5px;
  margin-top: -3px;
  color: white;
  filter: drop-shadow( 1px 1px 1px #26272B);
}
li:nth-child(3).breadcrumb-item::before {
  content: ">";
  font-size: 20px;
  padding-right: 5px;
  margin-top: -3px;
  color: white;
  filter: drop-shadow( 1px #26272B);
}
li:nth-child(3).breadcrumb-item span {
  cursor: default;
}

/*** Dropdown ***/
::v-deep #dropdown-right__BV_toggle_,
::v-deep #dropdown-right__BV_toggle_ ul {
  padding-top: 6px;
  margin-right: 6px;
}
::v-deep #dropdown-right__BV_toggle_:focus {
  box-shadow: none;
}
.settings-icon {
  color: white;
  filter: drop-shadow( 1px 1px 2px #26272B);
}
::v-deep .dropdown-menu {
  padding: 0px;
  border: 1px solid #312457;
  margin-right: 20px;
}
::v-deep .dropdown-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
::v-deep .dropdown-item:hover {
  background-color: #B2A8E8;
  border-radius: 3px;
}
::v-deep .dropdown-menu li:active,
::v-deep .dropdown-menu li:active a {
  background-color: #312457;
  color: white;
}

/* Settings Modal */
.input-group #deadline {
  border-color:#5F5199;
}
::v-deep .input-group-append .dropdown-toggle-no-caret,
::v-deep .input-group-append .show .dropdown-toggle-no-caret {
  background-color: #312457;
  color: white;
}
#setting-modal___BV_modal_content_ button {
  background-color: #312457;
  border-color: none;
  width: 100px;
}

/* Archive and Delete Confirmation Modals */
#upload-modal___BV_modal_content_ button,
#archive-modal___BV_modal_content_ button,
#delete-modal___BV_modal_content_ button {
  background-color: #312457;
  border-color: none;
}
#progress .deadline {
  margin-top: auto;
  margin-bottom: 0px;
  white-space: nowrap;
  margin-left: 10px;
  cursor: default;
}
#progress {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: bottom;
}

/*** Progress Bar ***/
.bar {
  margin: 30px 0 0 150px;
}
.title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 10px;
  border: none;
}
.title:focus {
  outline: none;
  box-shadow: none;
  color: black;
}
#plan-content {
  margin-bottom: 50px;
}

/*** Todo List ***/
.list {
  margin: auto;
  padding: 15px;
  font-size: 20px;
}
.add-button {
  padding: 0px 10px 0px 0px;
  background-color: white;
  border: none;
  font-size: 20px;
}
.add-button:focus {
  background-color: white;
  box-shadow: none;
  outline: none;
  border: none;
}
.add-button:hover {
  background-color: #F6F6F6;
}
.add-button svg {
  margin-left: -6px;
  margin-right: 5px;
  margin-bottom: 1px;
}
.add-button span {
  font-size: 16px;
}
.check {
  opacity: 20;
}

/*** Sticky Notes ***/
.card {
  border: none;
}
.card-header {
  cursor: default;
  background-color: #c2b7ff;
  font-weight: bold;
  font-size: 20px;
}
.card-body {
  background-color: #e1dcfd;
  border: none;
}
textarea {
  border: none;
  overflow: hidden !important;
  font-size: 15px;
  outline: none;
  white-space: pre-wrap !important;
  background: #e1dcfd;
  color: black;
  box-shadow: none;
}
textarea:focus {
  background: #e1dcfd;
  box-shadow: none;
  outline: none;
}
.form-control:disabled {
  background-color: transparent;
}

/* Emoji Picker Popover */
.popover{
  max-width: 500px;
}
#popover {
  cursor: pointer;
}
.task-input-field {
  border: none;
  padding: 0px;
  height: 25px;
}
.task-checkbox {
  border: none;
}
.delete-button {
  background-color: white;
  padding: 0px 4px 5px 4px;
  margin-left: 3px;
  height: 25px;
  border: none;
  color: #303030;
}
.delete-button:hover {
  background-color: #F6F6F6;
  color: black;
}

/* Calendar Picker */
::v-deep .input-group-append .b-form-datepicker div.show {
  border: 1px solid #46337F;
}
::v-deep .b-calendar .b-calendar-header .form-control bdi,
::v-deep .b-calendar .b-calendar-grid{
  color: black
}
::v-deep .b-calendar .b-calendar-grid .row .col span.active{
  background-color: #46337F;
  color: white;
}
::v-deep .b-calendar button,
::v-deep .b-calendar .b-calendar-grid .row .col span{
  color: #46337F;
}
::v-deep .b-calendar button:hover {
  background-color: #B2A8E8;
}
</style>