<template>
   <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md">
          <img src="../assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="mb-4">
                <h2 class="font-weight-bold text-center mb-4">Create an Account</h2>
              </div>
              <form @keyup.enter="register()">
                <b-row>
                  <b-col>
                    <label for="first_name">First Name</label>
                    <div class="form-group first">
                      <b-form-input type="text"  class="form-control" v-model="state.first_name" required></b-form-input>
                      <span class="valError" v-if="v$.first_name.$error">
                        {{v$.first_name.$errors[0].$message}}
                      </span>
                    </div>
                  </b-col>
                  <b-col>
                    <label for="last_name">Last Name</label>
                    <div class="form-group first">
                      <b-form-input type="text"  class="form-control" v-model="state.last_name"></b-form-input>
                      <span class="valError" v-if="v$.last_name.$error">
                        {{v$.last_name.$errors[0].$message}}
                      </span>
                    </div>
                  </b-col>
                </b-row>
                <label for="username">Username</label>
                <div class="form-group first">
                  <b-form-input type="text" class="form-control"  v-model="state.username" @focus="function(){show_username_error=false}"></b-form-input>
                  <span class="valError" v-if="v$.username.$error">
                    {{v$.username.$errors[0].$message}}
                  </span>
                  <span class="valError" v-for="error in username_errors" :key="error.id">
                    <span v-if="show_username_error">{{ error }}</span>
                  </span>
                </div>
                <label for="email">Email</label>
                <div class="form-group first">
                  <b-form-input type="email"  class="form-control" v-model="state.email"></b-form-input>
                  <span class="valError" v-if="v$.email.$error">
                    {{v$.email.$errors[0].$message}}
                  </span>
                </div>
                <label for="password">Password</label>
                <b-form-group label-for="password">
                  <b-form-input type="password"  class="form-control" v-model="state.password" @focus="function(){show_password_error=false}" id="input-live" aria-describedby="input-live-help input-live-feedback"></b-form-input>
                  <span class="valError" v-if="v$.password.$error">
                    {{v$.password.$errors[0].$message}}
                  </span>
                  <span class="valError" v-if="show_match_password_error">
                    Password doesn't match
                  </span>
                  <span class="valError" v-for="error in password_errors" :key="error.id">
                    <span v-if="show_password_error">{{ error }}</span>
                  </span>
                </b-form-group>
                <label for="confirm_pass">Confirm Password</label>
                <div class="form-group last mb-4">
                  <b-form-input type="password" class="form-control" v-model="state.confirm_pass" ></b-form-input>
                  <span class="valError" v-if="v$.confirm_pass.$error">
                    {{v$.confirm_pass.$errors[0].$message}}
                  </span>
                  <span class="valError" v-if="show_match_password_error">
                    Password doesn't match
                  </span>
                </div>

                <!-- Register Button -->
                <div>
                  <b-button class="btn btn-block" @click="register()">Register</b-button>
                  <p class="ml-auto mt-1 text-center desc">Already have an account?
                    <router-link to="/login">Login</router-link>
                  </p>
                </div>

              <!-- End of Form -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, email, minLength } from '@vuelidate/validators'
import { reactive } from '@vue/composition-api'
import sileo from 'sileo'

const User = new sileo.Model('user', 'users')

export default {
  data() {
    return {
      error_data: null,
      password_errors: [],
      username_errors: [],
      show_match_password_error: false,
      show_password_error: false,
      show_username_error: false,
    }
  },
  setup () {
    const state = reactive({
      first_name: '',
      last_name: '',
      username: '',
      email: '',
      password: '',
      confirm_pass: '',
    })

    const rules = {
      first_name: { required },
      last_name: { required },
      username: { required },
      email: { required, email },
      password: { required, minLength: minLength(8) },
      confirm_pass: { required },
    }
    const v$ = useVuelidate(rules, state)
    return { state, v$}
  },
  methods: {
    async register() {
      this.show_match_password_error = false;
      this.v$.$validate()
      if(this.state.password === this.state.confirm_pass){
        if(!this.v$.$error){
          const form = new FormData();
          form.append('first_name', this.state.first_name)
          form.append('last_name', this.state.last_name)
          form.append('username', this.state.username)
          form.append('email', this.state.email)
          form.append('password1', this.state.password)
          form.append('password2', this.state.confirm_pass)

          await User.objects.create(form).then(async (data) => {
            const login_form = new FormData()
            login_form.append('username', data.username)
            login_form.append('password', this.state.password)

            const config = {
              method: 'POST',
              body: login_form
            }
            const response = await fetch('http://localhost:8000/login/', config)
              .then(response => response.json())

            if (response.error) {
              this.error = response.error
              this.show_error = true
              return
            }

            const token = response.token
            localStorage.setItem('auth_token', token)
            sileo.defaults.headers['Authorization'] = token;
            this.$router.push({name: 'home'});
          }).catch(error => {
            let error_response = JSON.parse(error.response)
            this.error_data = error_response.data
            console.log(this.error_data)
            try {
              if(this.error_data.password2.length > 0) {
                this.password_errors = this.error_data.password2
                console.log('Password errors:', this.password_errors)
                this.show_password_error = true;
              }
            } catch (e) {
              console.log(e)
            }

            try {
              if(this.error_data.username.length > 0) {
                this.username_errors = this.error_data.username
                console.log('Username errors:', this.username_errors)
                this.show_username_error = true;
              }
            } catch (e) {
              console.log(e)
            }

            return
          })
        }
      }else{
        this.show_match_password_error = true;
      }
    },
    checkPasswordMatch() {
      return (this.state.password !== this.state.confirm_pass)? true: false;
    }
  },
};
</script>

<style scoped>
* {
  font-family: "Poppins";
  background-color: white;
  margin: auto;
}
.body{
  display: flex;
  min-height: 100vh;
  padding-top: 60px;
}
h2, p, label {
  color: black;
}
h2 {
  font-size: 30px;
}
label {
  font-weight: bold;
}
.btn {
  background-color:#46337F;
  color:white;
  font-family: "Poppins";
}
.btn:hover {
  background-color:#46337F;
}
a {
  text-decoration: none;
}

/**** Content ****/
.content {
  margin: auto;
  padding-top: 30px;
}
.content .contents .form-group, .content .bg .form-group {
  position: relative;
}
.content .contents .form-group label, .content .bg .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
   transform: translateY(-50%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.content .contents .form-group input, .content .bg .form-group input {
  background: transparent;
  border-bottom: 1px solid #5F5199;
}
.content .contents .form-group.first, .content .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.content .contents .form-group.last, .content .bg .form-group.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.content .contents .form-group label, .content .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3;
}
.content .contents .form-group.focus, .content .bg .form-group.focus {
  background: #fff;
}
.content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
  margin-top: -25px;
}
.content .contents .form-control, .content .bg .form-control {
  padding: 2;
  font-size: 20px;
  border-radius: 15px;
  border-color:#5F5199;
}
.content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content .bg {
  background-size: cover;
  background-position: center;
}
.content a {
  color: #5F5199;
  text-decoration: underline;
}
.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}
.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

/**** Control ****/
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: .2rem;
  color: #888;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #38d39f;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #4dd8a9;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}
.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}
.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}
.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}

/* Error Value */
.valError {
  color: red;
  font-size: 14px;
}
</style>