<template>
  <div class="nav-sticky">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand to="/">
        <img src="../assets/images/planote_logo_white_nav.png">
        <span class="brand-name" >PlaNote</span>
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <b-icon-person-circle></b-icon-person-circle>
              <span class="account">{{account}}</span>
            </template>
            <b-dropdown-item @click="activate(1), logout()" :class="{ active : active_tab == 1 }">Sign out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import sileo from 'sileo'

const User = new sileo.Model('user', 'users')

export default {
  data() {
    return {
      account: "",
      active_tab: 0, // active tab for dropdown
    };
  },
  created() {
    this.getCurrentUser()
  },
  methods: {
    activate: function(num){
      this.active_tab = num;
    },
    logout() {
      localStorage.removeItem('auth_token')
      delete sileo.defaults.headers['Authorization']
      this.$router.push({name: 'login'}).catch(()=>{});
    },
    async getCurrentUser() {
      await User.objects.filter().then(data => {
        this.account = data.username;
      })
    }
  }
};
</script>

<style scoped>
.bg-info {
    background-color: #46337F !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.brand-name {
    font-weight: bold;
    padding-left: 3px;
}
.nav-sticky{
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 100%;
}
::v-deep #nav-collapse ul li a {
  text-align: center;
}
::v-deep #nav-collapse ul a:hover {
  cursor: pointer
}

/*** User Account ***/
.bi-person-circle {
  color: white;
  margin-right: 5px;
  margin-bottom: 1px;
}
.account {
  font-weight: lighter;
  color: white;
  margin-right: 5px;
  font-size: 16px;
}
::v-deep .navbar-nav li a:focus {
  outline: 0;
}
::v-deep .navbar-nav li a::after {
  color: white;
}

/*** Dropdown menu ***/
::v-deep .dropdown-menu {
  padding: 0px;
  border: 1px solid #312457;
}
::v-deep .dropdown-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
::v-deep .dropdown-item:hover {
  background-color: #B2A8E8;
  border-radius: 3px;
}
::v-deep .dropdown-menu li:active,
::v-deep .dropdown-menu li:active a {
  background-color: #312457;
  color: white;
}
</style>