<template>
  <div class="select-sticky" v-bind:class="{ active: is_select }">
    <b-navbar id="slide" toggleable="lg" type="dark" variant="info">
      <b-navbar-brand>
      </b-navbar-brand>
      <b-navbar-toggle target="select-collapse"></b-navbar-toggle>
      <b-collapse id="select-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <span v-if="is_archived_filter === false">
            <a v-on:click="archive">
              <b-icon-archive></b-icon-archive>
            </a>
          </span>
          <span v-else-if="is_archived_filter === true && is_deleted_filter === false">
            <a v-on:click="unarchive">
              <b-icon-box-arrow-up></b-icon-box-arrow-up>
            </a>
          </span>
          <span v-if="is_deleted_filter === false">
            <a v-on:click="trash">
              <b-icon-trash></b-icon-trash>
            </a>
          </span>
          <span v-else-if="is_deleted_filter === true && is_archived_filter === true">
            <a v-on:click="restore">
              <b-icon-arrow-counterclockwise></b-icon-arrow-counterclockwise>
            </a>
          </span>
          <a v-on:click="close">
            <b-icon-x></b-icon-x>
          </a>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  props: {
    is_select: {
      type: Boolean
    },
    is_archived_filter: {
      type: Boolean
    },
    is_deleted_filter: {
      type: Boolean
    }
  },
  methods: {
    archive() {
      this.$emit("archive");
    },
    unarchive() {
      this.$emit("unarchive");
    },
    trash() {
      this.$emit("trash");
    },
    restore() {
      this.$emit("restore");
    },
    close() {
      console.log("Closing Select bar")
      this.$emit("close", this.is_select);
    }
  },
};
</script>

<style scoped>
.bg-info {
  background-color: #7E72B6 !important;
}
.select-sticky{
  z-index: 3;
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
}

/*** Select Btns ***/
.b-icon {
  color: white;
  margin: 5px 10px 0 0;
  padding: 3px;
  height: 30px;
  width: 30px;
}
.bi-x {
  margin: 2px 0 0 -7px;
  padding: 0px;
  height: 35px;
  width: 35px;
}
.bi-box-arrow-up {
  margin-top: 3px
}
.b-icon:hover {
  color: #312457;
}
::v-deep #select-collapse ul span,
::v-deep #select-collapse ul a {
  margin: auto;
}
::v-deep #select-collapse ul a:hover {
  cursor: pointer
}
</style>