<template>
  <div>
     <div class="sidebar" v-bind:class="{ active: show_item }">
       <ul class="nav-list">
        <a v-if="show_item === true">
          <b-icon-chevron-double-left
            class="sidebar-icon"
            v-on:click="menu"
            >
          </b-icon-chevron-double-left>
        </a>
        <a v-else>
          <b-icon-chevron-double-right
            class="sidebar-icon"
            v-on:click="menu"
            >
          </b-icon-chevron-double-right>
        </a>
        <li v-on:click="filterAll(1); close()" class="tab" :class="{ active : active_tab == 1 }">
          <a>
            <b-icon-folder class="icon"></b-icon-folder>
            <span class="links-name">All</span>
          </a>
        </li>
        <li class="plans">
          <a v-b-toggle="'plans-collapse'" v-on:click="planTab()">
            <b-icon-card-checklist class="icon"></b-icon-card-checklist>
            <span class="links-name">Plans</span>
            <span v-if="is_down === true">
              <b-icon-chevron-down class="right-icon"></b-icon-chevron-down>
            </span>
            <span v-else>
              <b-icon-chevron-up class="right-icon"></b-icon-chevron-up>
            </span>
          </a>
          <b-collapse id="plans-collapse">
            <li v-on:click="filterPlansOngoing(2); close()" :class="{ active : active_tab == 2 }">
              <a>
                <b-icon-clock class="plans icon"></b-icon-clock>
                <span class="links-name">Ongoing</span>
              </a>
            </li>
            <li v-on:click="filterPlansCompleted(3); close()" :class="{ active : active_tab == 3 }">
              <a>
                <b-icon-check-circle class="plans icon"></b-icon-check-circle>
                <span class="links-name">Completed</span>
              </a>
            </li>
          </b-collapse>
        </li>
        <li v-on:click="filterNotes(4); close()" class="tab" :class="{ active : active_tab == 4 }">
          <a>
            <b-icon-paperclip class="icon"></b-icon-paperclip>
            <span class="links-name">Notes</span>
          </a>
        </li>
        <li v-on:click="filterArchived(5); close()" class="tab" :class="{ active : active_tab == 5 }">
          <a>
            <b-icon-archive class="icon"></b-icon-archive>
            <span class="links-name">Archived</span>
          </a>
        </li>
        <li v-on:click="filterTrash(6); close()" class="tab" :class="{ active : active_tab == 6 }">
          <a>
            <b-icon-trash class="icon"></b-icon-trash>
            <span class="links-name">Trash</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active_tab: 0, // active tab for sidebar
      is_down: true, // plan tabright-icon
    }
  },
  props: {
    show_item: {
      type: Boolean
    },
    is_select: {
      type: Boolean
    }
  },
  created() {
    this.filterAll(1);
  },
  methods: {
    // Sidebar Collapse
    menu() {
      this.$emit("menu", this.show_item);
    },
    // Sidebar Plan Tab Collapse
    planTab() {
      this.is_down == true ? this.is_down = false : this.is_down = true
    },
    // Filter Functions
    filterAll(num) {
      this.active_tab = num;
      this.$emit("filterAll");
    },
    filterPlansOngoing(num) {
      this.active_tab = num;
      this.$emit("filterPlansOngoing");
    },
    filterPlansCompleted(num) {
      this.active_tab = num;
      this.$emit("filterPlansCompleted");
    },
    filterNotes(num) {
      this.active_tab = num;
      this.$emit("filterNotes");
    },
    filterArchived(num) {
      this.active_tab = num;
      this.$emit("filterArchived");
    },
    filterTrash(num) {
      this.active_tab = num;
      this.$emit("filterTrash");
    },
    close() {
      this.$emit("close", this.is_select);
    }
  }
};
</script>

<style scoped>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  color: #46337F;
}

/*** Sidebar ***/
.sidebar{
  position: fixed;
  left: 0;
  height: 100%;
  width: 80px;
  background: #EAE2F8;
  padding: 6px 14px;
  z-index: 1;
  transition: all 0.5s ease;
  padding: 0px;
  margin-top: 6px;
}
.sidebar.active{
  width: 200px;
}

/*** Sidebar Icons ***/
.sidebar .icon{
  height: 24px;
  width: 24px;
  margin-left: 15px;
}
.sidebar.active .icon{
  height: 24px;
  width: 24px;
  margin-right: 12px;
}
.sidebar .sidebar-icon{
  height: 20px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar.active .sidebar-icon{
  margin-left: 120px;
  cursor: pointer;
}
.sidebar .plans a .right-icon {
  visibility: hidden;
}
.sidebar.active .plans .right-icon {
  margin-left: 59px;
  visibility: visible;
  transition: all 0.5s ease;
}
.sidebar #plans-collapse li a .bi{
  height: 18px;
  width: 24px;
  margin-left: 3px;
  padding-bottom: 0px;
}
.sidebar.active #plans-collapse li a .bi{
  height: 21px;
  width: 25px;
  margin-right: 5px;
}

/*** Sidebar Content ***/
.sidebar .nav-list{
  margin-top: 15px;
  height: 100%;
}

/* Tabs */
.sidebar li{
  position: relative;
  padding: 15px 10px 15px 10px;
  margin: 0px;
  list-style: none;
  cursor: pointer;
}
.sidebar .tab:hover {
  background-color: #B2A8E8;
}
.sidebar .tab.active {
  background-color: #312457;
}
.sidebar li.active .bi,
.sidebar li.active span {
  fill: white;
  color: white;
}

/* Plans Tab */
.sidebar .plans {
  padding-bottom: 0px;
}
.sidebar .plans:hover {
  cursor: pointer;
}
.sidebar .plans a{
  padding-bottom: 10px;
}
.sidebar .plans #plans-collapse li a{
  margin-left: 20px;
  padding-bottom: 0px;
  transition: all 0.5s ease;
}
.sidebar.active #plans-collapse li {
  background-color: #D5C6EE;
}
.sidebar .plans #plans-collapse {
  margin-left: -15px;
  margin-right: -10px;
}
.sidebar.active li #plans-collapse li a {
  margin-left: 50px;
  padding-bottom: 0px;
}
.sidebar li #plans-collapse li:nth-child(1) {
  border: 1px solid #B2A8E8;
}
.sidebar li #plans-collapse li:nth-child(2) {
  border-right:  1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #B2A8E8;
}
.sidebar .plans #plans-collapse li:hover {
  background-color: #B2A8E8;
}
.sidebar .plans #plans-collapse li.active {
  background-color: #312457;
}

/*** Links Name ***/
.sidebar li a{
  display: flex;
  text-decoration: none;
}
.sidebar li a .links-name{
  visibility: hidden;
}
.sidebar.active li a .links-name{
  visibility: visible;
}

/* Plans Tab */
.sidebar #plans-collapse li a .links-name {
  visibility: hidden;
}
.sidebar.active #plans-collapse li a .links-name,
.sidebar.active #plans-collapse li.active a .links-name {
  font-size: 14px;
  visibility: visible;
}

</style>
