.vue-calendar {
    display: grid;
    grid-template-rows: 10% 90%;
    background: #EAE2F8;
    margin: 0 auto;
  }
.calendar-header {
    align-items: center;
    border-right: 4px solid;
    border-left: 4px solid;
    border-top: 4px solid;
}
.header-left,
.header-right {
    flex: 1;
}
.header-center {
    flex: 3;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: normal;
}
.title {
    margin: 0 5px;
    font-weight: 700;
}
.next-month,
.prev-month {
    cursor: pointer;
}
.days-header {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-auto-columns: 14.26%;
    grid-template-areas: "a a a a a a a";
    font-weight: bold;
    border-bottom: 26.6px solid white;
    resize: horizontal;
    max-width: 99.74%;
}
.calendar-body {
    background: #EAE2F8;
    border-right: 2px solid;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-auto-columns: 100.3%;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-left: 4px solid;
    height: 640px;
}
.days-body {
    padding-top: 5px;
    display: grid;
    grid-template-rows: auto;
}
.day-number {
    text-align: right;
    margin-right: 10px;
    font-weight: normal;
}
.day-label {
    text-align: center;
    border-right: 1px solid #e0e0e0;
}
.week-row {
    display: grid;
    grid-template-areas: "a a a a a a a";
    grid-row-gap: 5px;
    grid-auto-columns: 14.25%;
    border-left: 1px solid #e0e0e0;
}
.week-day {
    padding: 4px;
    border-right: 1px solid #998DD1;
    border-bottom: 1px solid #998DD1;
    height: 100px !important;
}
.week-day:hover {
    background-color: #B2A8E8;
    opacity: 0.5;
    cursor: pointer;
}
.week-day.disabled {
    background-color: #f5f5f5;
}
.week-day.not-current > .day-number {
    color: #c3c3c3;
}
.week-day.today {
    border: 2px solid #46337F;
    outline: 1px solid #46337F;
}
.events {
    font-size: 12px;
    cursor: pointer;
    padding: 0 0 0 4px;
}
.events .event {
    height: 16px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    margin: 0 4px 6px 0;
    border-radius: 10px;
}
.events .more-link {
    color: rgba(0, 0, 0, 0.38);
    display: none;
}
.events-color-1 {
    background-color: #FF5F5F;
}
.events-color-2 {
    background-color: #FFA1A1;
}
.events-color-3 {
    background-color: #FEC9C9;
}
.events-color-4 {
    background-color: #46D27E;
}
